<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Alderaan</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Alderaan</h1>
						<p>Alderaan est une planète couverte de verdure. Des prairies, des plaines et des forêts recouvrent sa surface. Les montagnes y sont aussi nombreuses. Il n'y a pas d'océan, mais une mer polaire, partiellement gelée, mais aussi beaucoup de lacs et de rivières. Alderaan, parfois appelée Aldorande ou Aldérande, était une planète située au centre de la galaxie, non loin de Coruscant, dans les Mondes du Noyau. C'était une planète d'où venaient beaucoup de personnes célèbres dans la galaxie comme Leia Organa et Bail Organa. Elle avait une renommée galactique pour la beauté préservée de ses paysages. Pour démontrer la puissance de son arme destructrice, le Grand Moff Wilhuff Tarkin prit la planète pacifique et sans défense pour cible de l'Étoile de la Mort juste avant la bataille de Yavin. La destruction d'Alderaan fut appelé le Désastre.</p>
					</div>
					<div class="presentoir">
						<img src="../../images/planets/coruscant.jpg" alt="" />
						<table>
							<tr>
								<th>Apparaît dans : </th>
								<td> <a href="../movies/movie3.html">La Revanche des Siths</a></td>
							</tr>
							<tr>
								<th>Environnement : </th>
								<td> Mondes du Noyau, verdoyant : prairies, plaines, forêts, montagnes, mer polaire, lacs, rivières</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>