<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" media="screen" href="../../css/styles.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="../../css/planete&corpo.css" />
		<title>Les planètes</title>
	</head>
	<body>
		<header>
			<iframe src="../header.html" frameborder="0"></iframe>
		</header>
		<main>
			<h1 class="title">Les planètes</h1>
			<div class="container">
				<div class="list">
					<div class="card alderaan">
						<a href="../planets/alderaan.html">
							<h2>Alderaan</h2>
							<img src="../../images/planets/alderaan.jpg"
						/></a>
					</div>
					<div class="card coruscant">
						<a href="../planets/coruscant.html">
							<h2>Coruscant</h2>
							<img src="../../images/planets/coruscant.jpg"
						/></a>
					</div>
					<div class="card geonosis">
						<a href="../planets/geonosis.html">
							<h2>Géonosis</h2>
							<img src="../../images/planets/geonosis.jpg"
						/></a>
					</div>
					<div class="card kamino">
						<a href="../planets/kamino.html">
							<h2>Kamino</h2>
							<img src="../../images/planets/kamino.jpg"
						/></a>
					</div>
					<div class="card kashyyyk">
						<a href="../planets/kashyyk.html">
							<h2>Kashyyyk</h2>
							<img src="../../images/planets/kashyyyk.jpg"
						/></a>
					</div>
					<div class="card mustafar">
						<a href="../planets/mustafar.html">
							<h2>Mustafar</h2>
							<img src="../../images/planets/mustafar.jpg"
						/></a>
					</div>
					<div class="card naboo">
						<a href="../planets/naboo.html">
							<h2>Naboo</h2>
							<img src="../../images/planets/naboo.jpg"
						/></a>
					</div>
					<div class="card tatooine">
						<a href="../planets/tatooine.html">
							<h2>Tatooine</h2>
							<img src="../../images/planets/tatooine.jpg"
						/></a>
					</div>
					<div class="card utapau">
						<a href="../planets/utapau.html">
							<h2>Utapau</h2>
							<img src="../../images/planets/utapau.jpg"
						/></a>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<iframe src="../footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
