<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <title>Kamino</title>
</head>

<body>
    <header>
        <iframe src="../../views/header.html" frameborder="0"></iframe>
    </header>
    <main>
        <div class="container">
            <div class="presentation">
                <div class="histoire">
                    <h1>Kamino</h1>
                    <p>Kamino est une planète-océan de l’univers de fiction Star Wars. Située en dehors de la Galaxie,
                        cette planète orbite autour de l'étoile homonyme. Il s'agit du monde d'origine des soldats
                        clones.

                        Bien qu'elle soit entièrement recouverte d'eau, Kamino est la planète d'origine d'une espèce
                        intelligente, les kaminoens. Ils sont réputés pour la qualité des clones qu'ils produisent et
                        fournissent à la République galactique.

                        Apparue principalement dans le film L'Attaque des clones, la planète est générée en grande
                        partie par images de synthèse.

                        En plus du film, Kamino est représentée dans les séries télévisées The Clone Wars, The Bad
                        Batch, Le Livre de Boba Fett, dans les mises en roman du film dans lequel elle apparaît, ainsi
                        que dans plusieurs romans, jeux vidéo et bandes dessinées...</p>
                </div>
                <div class="presentoir">
                    <img src="../../images/planets/kamino.jpg" alt="" />
                    <table>
                        <tr>
                            <th>Apparaît dans :</th>
                            <td><a href="../movies/movie3.html">La Revanche des Siths</a></td>
                        </tr>
                        <tr>
                            <th>Environnement :</th>
                            <td>Planète océan</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <iframe src="../../views/footer.html" frameborder="0"></iframe>
    </footer>
</body>

</html>