<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <title>Kashyyyk</title>
</head>

<body>
    <header>
        <iframe src="../../views/header.html" frameborder="0"></iframe>
    </header>
    <main>
        <div class="container">
            <div class="presentation">
                <div class="histoire">
                    <h1>Kashyyyk</h1>
                    <p>Kashyyyk est une planète fictive de Star Wars. Située dans la Bordure médiane, elle orbite autour
                        de l'étoile homonyme. Elle est principalement connue pour être la planète d'origine du
                        personnage Chewbacca, célèbre membre de l'Alliance rebelle..
                        Malgré une faune et une flore peu accueillantes, elle est habitée par les wookiees, une espèce
                        arboricole couverte de fourrure. Théâtre de plusieurs batailles à l'échelle galactique, durant
                        la guerre des clones ou durant la guerre contre l'Empire galactique, Kashyyyk a également été
                        exploitée pendant plusieurs décennies par les différents régimes.</p>
                </div>
                <div class="presentoir">
                    <img src="../../images/planets/kashyyyk.jpg" alt="" />
                    <table>
                        <tr>
                            <th>Apparaît dans :</th>
                            <td><a href="../movies/movie3.html">La Revanche des Siths</a></td>
                        </tr>
                        <tr>
                            <th>Environnement :</th>
                            <td>Planète foréstiere</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <iframe src="../../views/footer.html" frameborder="0"></iframe>
    </footer>
</body>

</html>