<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Mustafar</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Mustafar</h1>
						<p>
							Mustafar est une planète de lave de l’univers de fiction Star Wars. Située dans la Bordure extérieure, cette petite planète orbite autour de l'étoile Priate. Elle est notamment célèbre
							pour être le lieu du premier affrontement entre Anakin Skywalker, devenu Sith sous le nom de Dark Vador, et son ancien maître Jedi Obi-Wan Kenobi. Malgré son hostilité naturelle, elle
							est habitée par les Mustafariens et très prisée pour ses ressources minières par la Confédération des systèmes indépendants durant la guerre des clones, puis par l'Empire galactique.
							L'influence du côté obscur de la Force étant forte sur cette planète, Dark Vador y fait construire son château durant la période de domination de l'Empire.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/planets/mustafar.jpg" alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td><a href="../movies/movie3.html">La Revanche des Siths</a></td>
							</tr>
							<tr>
								<th>Environnement :</th>
								<td>Planète de lave</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
