<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Naboo</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Naboo</h1>
						<p>
							Le noyau de Naboo présente une particularité unique. En effet, il n'est pas en fusion, contrairement aux noyaux classiques, mais regorge d'énergie plasmatique. Au fil des âges, un
							important réseau de tunnel sous-terrain s'est créé, avant d'être inondé et de former un labyrinthe sous-marin sous la surface de la planète. Les routes océaniques qui passent par le
							noyau sont considérées parfois comme les plus rapides pour se déplacer d'un bout à l'autre de la planète. Grâce à ces importantes quantités d'eau souterraine, la planète Naboo possède un
							climat tempéré et une flore luxuriante, avec de vastes plaines, des jungles, des marais et des collines herbeuses.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/planets/naboo.jpg" alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td><a href="../movies/movie1.html">La Menace Fantôme</a>,<a href="../movies/movie2.html">L'Attaque des Clones</a>,<a href="../movies/movie3.html">La Revanche des Siths</a></td>
							</tr>
							<tr>
								<th>Environnement :</th>
								<td>Planète tellurique</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
