<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title></title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Utapau</h1>
						<p>
							Utapau était une planète lointaine du système Utapau dans les Territoires de la Bordure Extérieure. Criblée d'énormes trous et crevasses, elle était le monde d'origine des Pau'ans et des
							Utai. Quelques tribus Amani immigrèrent sur ce monde. Vers la fin de la Guerre des Clones, elle fut le théâtre d'une importante bataille au cours de laquelle le Général Grievous trouva
							la mort.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/planets/utapau.jpg" alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td><a href="../movies/movie3.html">La Revanche des Sith</a></td>
							</tr>
							<tr>
								<th>Environnement :</th>
								<td>Gouffres, Grottes, Déserts</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
