<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<link rel="stylesheet" href="../../css/stylemovie.css" />
		<title>La Menace fantôme</title>
	</head>
	<body>
		<header>
			<iframe src="../header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="movie">
					<div class="poster">
						<h1>La Menace fantôme</h1>
						<img src="../../images/movies/poster1.jpg" alt="" />
					</div>
					<div class="synopsis">
						<h2>Synopsis :</h2>
						<p>
							Star Wars, épisode I : La Menace fantôme (Star Wars: Episode I – The Phantom Menace) est un film américain de science-fiction de type space opera sorti en 1999 écrit et réalisé par
							George Lucas.
						</p>

						<p>
							C'est le quatrième opus de la saga Star Wars par sa date de sortie, mais le premier dans l'ordre chronologique de l'histoire. Sorti seize ans après Le Retour du Jedi, il ouvre une
							nouvelle trilogie de préquelle, la « prélogie ». Le film est également la quatrième réalisation de Lucas après un hiatus de vingt-deux ans.
						</p>

						<p>
							Le film suit le chevalier Jedi <a href="../characters/qui_gon_jinn.html">Qui-Gon Jinn</a> et son apprenti <a href="../characters/obi-wan_kenobi.html">Obi-Wan Kenobi</a> qui escortent et
							protègent la reine <a href="../characters/padme_amidala.html">Amidala</a> qui voyage de la planète <a href="../planets/naboo.html">Naboo</a> à la planète Coruscant dans l'espoir de
							trouver une issue pacifique à un différend commercial interplanétaire. Il met également en scène le jeune <a href="../characters/anakin_skywalker.html">Anakin Skywalker</a> avant qu'il
							ne devienne un <a href="../corporations/jedi.html">Jedi</a>. Celui-ci est alors un jeune esclave qui semble avoir une forte prédisposition à l'utilisation de la Force.
						</p>
					</div>
				</div>

				<div class="trailer">
					<iframe class="integration"
						width="1000"
						height="650"
						src="https://www.youtube.com/embed/G9e3R-vkj_A"
						title="Star Wars : La Menace fantôme – Episode I - Bande Annonce VF – 1999"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen
					></iframe>
				</div>
			</div>
		</main>
		<footer>
			<iframe src="../footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
