
h2{color:blue
    

}
p {
    color: crimson;
}

div {
    border:2px solid rgba(0, 0, 0, 0.539);
    border-radius:1% ;
    background: rgba(0, 0, 0, 0.265);
}

.divun {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 0%;
    width: 0%;
}

;

.div2 {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 0%;
    width: 0%;
}

;

.div3 {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 0%;
    width: 0%;
}

;

.div4 {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 0%;
    width: 0%;
}

;

.div5 {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 0%;
    width: 0%;

}

;

.div6 {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 0%;
    width: 0%;
}

;

.div7 {
    position: fixed;
    left: 0%;
    top: 0%;
    height: 0%;
    width: 0%;
}

;