<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/inscription.css" />
    <title>Formulaire d'inscription</title>
  </head>
  <body>
    <header>
      <iframe src="../../views/header.html" frameborder="0"></iframe>
    </header>
    <main>
      <h1>Formulaire d'inscription</h1>
      <h4>Entrez vos informations :</h4>
      <div class="container">
        
        <div class="inscrire">
          
          <form id="compte">
            <br/>
            <br/>
            <div class="np">
              
              <label
                >NOM : <br /><input type="text" name="nameu" id="nameu"
              /></label>
              <br />
              <label
                >Prénom : <br /><input type="text" name="fnameu" id="fnameu"
              /></label>
            </div>
            <br />
            <div class="middle">
              <label
                >Date de Naissance :<br />
                <input type="date" name="datenais" id="birth" /></label
              ><br />
              <br />
              <label
                >Email : <br /><input
                  type="email"
                  name="mailu"
                  id="mailu" /></label
              ><br />
            </div>
            <div class="password">
              <br />
              <label
                >Mot de Passe :<input type="password" name="pass" id="password"
              /></label>

              <label
                >Confirmer
                <a
                  href="https://www.youtube.com/watch?v=UcRtFYAz2Yo&t=320s"
                  target="_blank"
                  id="oubli_cache"
                  >Mot de Passe :</a
                ><input type="password" name="pass" id="password"
              /></label>
            </div>
            <br />
            <button type="submit" id="inscription" name="inscrire">
              Envoyer ces informations
            </button>
          </form>
        </div>
        <img src="../../images/background/ré.gif" class="robot" alt="" />
      </div>
      <img src="../../images/background/ré.gif" class="robot" alt="">
    </div>
  </main>
  <footer>
    <iframe src="../../views/footer.html" frameborder="0"></iframe>
  </footer>
</body>

</html>