<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<link rel="stylesheet" href="../../css/personnage.css">
		<title>Anakin Skywalker</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Anakin Skywalker</h1>
						<p>
							La prélogie, composée de <a href="../movies/movie1.html">La Menace fantôme</a> (1999), <a href="../movies/movie2.html">L'Attaque des clones</a> (2002) et
							<a href="../movies/movie3.html">La Revanche des Sith</a> (2005), explore l'enfance et la jeunesse d'Anakin Skywalker, détaillant les raisons et les circonstances de sa transformation en
							personnage malfaisant.
						</p>
						<p>
							Son éducation en tant que Jedi auprès d'<a href="obi-wan_kenobi.html">Obi-Wan Kenobi</a>, son basculement du côté obscur de la Force pour devenir l'apprenti et le bras armé de
							l'empereur<a href="palpatine.html"> Palpatine</a>, sa rédemption finale lui permettant d'accomplir sa destinée — ramener l'équilibre dans la Force et éliminer les Sith — et le fait qu'il
							soit le père des jumeaux Luke Skywalker et Leia Organa, constituent l'intrigue principale des deux premières trilogies.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/characters/anna_skywalker.webp" alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td><a href="../movies/movie1.html">La Menace fantôme</a>, <a href="../movies/movie2.html">L'Attaque des clones</a> et <a href="../movies/movie3.html">La Vengeance des Sith</a></td>
							</tr>
							<th>Première apparition :</th>
							<td><a>Un Nouvel espoir</a></td>
							<tr>
								<th>Affiliations :</th>
								<td>
									<a href="../corporations/jedi.html">Ordre Jedi</a>/<a href="../corporations/republique_galactique.html">République galactique</a>, puis
									<a href="../corporations/siths.html">Sith</a>/<a href="../corporations/empire_galactique.html">Empire galactique</a>
								</td>
							</tr>
							<tr>
								<th>Race :</th>
								<td>Être humain, puis cyborg</td>
							</tr>
							<tr>
								<th>Genre :</th>
								<td>Masculin</td>
							</tr>
							<tr>
								<th>Planète d'origine :</th>
								<td><a href="../planets/tatooine.html">Tatooine</a></td>
							</tr>
							<tr>
								<th>Métier :</th>
								<td>Chevalier de <a href="../corporations/jedi.html">l'Ordre</a> puis Seigneur <a href="../corporations/siths.html">Sith</a></td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Lumineux, puis obscur</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="relations">
					<hr />
					<h2>Rôle dans l'histoire</h2>
					<img src="../../images/movies/poster1.jpg" alt="" />
					<p>
						Dans <a href="../movies/movie1.html">La Menace Fantôme</a> , Anakin est un enfant de petite taille aux cheveux courts et blonds (coupe au bol) et aux yeux bleus, pilote de module de
						courses. Il est esclave sur <a href="../planets/tatooine.html">Tatooine</a>. À la fin du film, il porte la coupe de cheveux (avec la tresse signifiant qu’il est apprenti) et les vêtements
						des Padawan.
					</p>
					<p>
						Dans <a href="../movies/movie2.html">L'Attaque des clones</a>, il est devenu adulte et a donc considérablement grandi. Il mesure dans les 1,80 m et arbore toujours la coupe de cheveux des
						Padawans. Lors du duel final contre le <a href="../characters/compte_dooku.html">comte Dooku</a>, il se fait trancher l'avant-bras droit et est contraint de porter une prothèse mécanique.
					</p>
					<p>
						Dans <a href="../movies/movie3.html">La Revanche des Sith</a>, il a considérablement laissé pousser ses cheveux et une cicatrice est présente sur sa tempe droite. Durant le massacre du
						<a href="../corporations/conseil_separatiste.html">Conseil Séparatiste</a>, ses yeux sont jaunes et injectés de sang, ce qui montre une forte emprise du côté obscur. Lorsqu'il perd son
						duel contre son ancien maître <a href="../characters/obi-wan_kenobi.html">Obi wan Kenobi</a>, à la fin de l'épisode III, il perd en même temps le dernier bras qui lui reste, ainsi que ses
						deux jambes. La colère et la rage déforment son visage avant que son corps ne soit presque entièrement brûlé par de la lave en fusion. Son corps sera désormais couvert de cicatrices et de
						traces de brûlures et pour survivre, Anakin sera enfermé dans une sombre armure de survie qu'il occupera jusqu'à la fin de sa vie.
					</p>
				</div>
				<a href="palpatine.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="">palpatine</a>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
