<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Boba Fett</title>
</head>

<body>
    <header>
        <iframe src="../../views/header.html" frameborder="0"></iframe>
    </header>
    <main>
        <div class="container">
            <div class="presentation">
                <div class="histoire">
                    <h1>Boba Fett</h1>
                    <p>Boba Fett est un personnage de la saga cinématographique Star Wars.</p>
                </div>
                <div class="presentoir">
                    <img src="../../images/characters/boba_fett.webp" alt="">
                    <table>
                        <tr>
                            <th>Apparaît dans : </th>
                            <td><a href="../movies/movie1.html">La Menace fantôme</a> , <a href="../movies/movie2.html">L'Attaque des clones</a> et <a href="../movies/movie3.html">La Vengeance des Sith</a>
                            </td>
                        </tr>
                        <th>Première apparition :</th>
                        <td><a href="../movies/movie1.html">La Menace fantôme</a></td>
                        <tr>
                            <th>Affiliations :</th>
                            <td>Chasseur de prime</td>
                        </tr>
                        <tr>
                            <th>Race :</th>
                            <td>Clone</td>
                        </tr>
                        <tr>
                            <th>Genre :</th>
                            <td>Masculin</td>
                        </tr>
                        <tr>
                            <th>Planète d'origine :</th>
                            <td>Kamino</td>
                        </tr>
                        <tr>
                            <th>Métier :</th>
                            <td>Ennemi Jedi</td>
                        </tr>
                        <tr>
                            <th>Côté de la force :</th>
                            <td>Ne maitrise pas la force </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="relations">
                <hr>
                <h2>Rôle dans l'histoire</h2>
                <img src="../../images/movies/poster2.jpg" alt="">
                <p>Boba Fett est le clone de <a href="../characters/jango_fett.html">Jango Fett</a> qu'il a conservé auprès de lui comme son fils, parmi les
                    milliers d'autres clones réalisés à son image sur la planète <a href="../planets/kamino.html">Kamino</a>
                    et qui vont intervenir dans l'épisode II de la saga Star Wars, <a href="../movies/movie2.html">l'Attaque des clones</a>. Devenu adulte,
                    Boba est un redoutable chasseur de primes qui est connu pour sa grande adresse
                    à traquer sa proie. Il a souvent travaillé pour le gangster Jabba le Hutt qui lui demande de
                    capturer Han Solo, chose faite grâce à son association avec Dark Vador lors de l'épisode V sur la
                    planète Bespin. Dans l'épisode VI, il disparait sur <a href="../planets/tatooine.html">Tatooine</a>, avalé par un Sarlacc. Boba Fett
                    réapparait dans la saison 2 de la série télévisée The Mandalorian, puis en 2021 dans sa propre
                    série, Le Livre de Boba Fett.</p>
                <p>Durant la Guerre des clones, Boba s'allie d'abord avec un groupe de chasseurs de primes composé de
                    Bossk, Castas et Aurra Sing, que cette dernière a pris sous son aile après la mort de <a href="../characters/jango_fett.html">Jango Fett</a>.
                    Sous le nom de "Lucky", il infiltre un groupe de cadets clones en observation sur un croiseur de la
                    République en compagnie des Jedi <a href="../characters/anakin_skywalker.html">Anakin Skywalker</a> et <a href="../characters/mace_windu.html">Mace Windu</a> Boba piège les quartiers de Windu,
                    mais c'est un soldat clone qui meurt dans l'explosion. Le croiseur en alerte, il sabote les
                    réacteurs de ce dernier, forçant l'équipage à se diriger vers les capsules de sauvetage. Il prend
                    soin de saboter celle dans laquelle il se trouve afin de ne pas se rendre au point de rendez-vous,
                    et pour que Sing et Bossk puissent venir le récupérer. Après son évacuation,
                    le groupe de chasseurs de primes repart, affirmant à Boba que l'heure de Windu viendra tôt ou tard.
                </p>
            </div>
            <a href="poggle_le_bref.html" class="left">  <img src="../../images/background/icone-fleche-gauche-jaune.png" width="30px" alt="">poggle le bref </a>
            <a href="jango_fett.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="">jango fett</a>
    </main>
    <footer>
        <iframe src="../footer.html" frameborder="0"></iframe>
    </footer>
</body>

</html>