<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Boss Nass</title>
	</head>

	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Boss Nass</h1>
						<p>
							Rungor Nass, également connu sous le nom de Boss Nass, était le chef de la lignée Otolla Gungan ainsi que du Haut Conseil et de Gungan City durant l’invasion de
							<a href="../planets/naboo.html">Naboo</a> par les forces de la Fédération du Commerce. C’est grâce à sa grande force de caractère qu’il réussit à prendre la tête de son peuple.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/characters/rugor_nass.webp" alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td><a href="../movies/movie1.html">La Menace fantôme</a></td>
							</tr>
							<tr>
								<th>Première apparition :</th>
								<td><a href="../movies/movie1.html">La Menace fantôme</a></td>
							</tr>
							<tr>
								<th>Affiliations :</th>
								<td>
									Haut Conseil Gungan,
									<a href="../corporations/republique_galactique.html">République galactique</a>
								</td>
							</tr>
							<tr>
								<th>Race :</th>
								<td>Gungan</td>
							</tr>
							<tr>
								<th>Genre :</th>
								<td>Masculin</td>
							</tr>
							<tr>
								<th>Planète d'origine :</th>
								<td><a href="../planets/naboo.html">Naboo</a></td>
							</tr>
							<tr>
								<th>Métier :</th>
								<td>Dirigeant d'Otho Gunga</td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Lumineux</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="relations">
					<hr />
					<h2>Rôle dans l'histoire</h2>
					<img src="../../images/movies/poster1.jpg" alt="" />
					<p>
						Contrairement à d’autres Boss Gungans, Nass pouvait se montrer très indulgent. Il pardonna plusieurs écarts de conduite au maladroit
						<a href="../characters/jar_jar_bink.html">Jar Jar Binks</a> avant qu’un énième incident ne mette un terme à sa patience pour le malheureux Gungan et qu’il le condamne à quitter la cité.
					</p>
					<p>
						Malgré sa clairvoyance, le chef Gungan se montrait extrêmement méfiant envers les humains de Naboo qu’il soupçonnait de se penser supérieurs à son peuple. Durant l’invasion de la planète
						par la Fédération, il refusa d’abord de prendre en compte les mises en garde du maître Jedi
						<a href="../characters/qui_jon_ji.html">Qui-Gon Jin</a> et de son padawan <a href="../characters/obi-wan_kenobi.html">Obi-Wan Kenobi</a>. Boss Nass pensait que les machines de guerre
						ennemies se contenteraient de s’attaquer au peuple de la surface. Le futur devait lui donner tort. Expulsés de leurs cités et traqués par les forces d’invasion droïdes, le chef Gungan et
						ses hommes finirent par accepter une alliance avec les Naboo, aidés des <a href="../corporations/jedi.html">Jedi</a> et <a href="../characters/anakin_skywalker.html">Anakin Skywalker</a>,
						contre l’ennemi commun. Il nomma <a href="../characters/jar_jar_bink.html">Jar Jar Binks</a> général avec ordre de mener les forces Gungan à la bataille, l’objectif réel étant de fournir
						suffisamment de temps au commando Naboo et aux Jedi pour investir les palais royaux, capturer les chefs Neimoidiens et ainsi faire échouer l’invasion.
					</p>
					<p>
						Après la victoire, Boss Nass se joignit aux autres pour les funérailles de
						<a href="../characters/qui_jon_ji.html">Qui-Gon Jin</a> mais ce fut sa présence pendant la fête de la victoire et son cadeau à la reine qui entérina une alliance durable entre les deux
						peuples de la planète.
					</p>
					<p>
						Après la fin de la Guerre des Clones et l’avènement de l’Empire, le chef Gungan eut le triste honneur d’assister aux funérailles de celle qui avait su gagner son respect,
						<a href="../characters/padme_amidala.html">Padmé Amidala</a>. Durant l’occupation impériale qui s’en suivit, Boss Nass eut un rôle actif dans les actions de résistance de son peuple face
						aux soldats impériaux. Il contribua entres autres à la destruction d’un stock d’explosifs ennemis avec l’aide de Ferus Olin. Conscient que ses troupes n’étaient pas de taille face aux
						légions de l’Empereur, il organisa également plusieurs opérations de guérilla visant à affaiblir les positions ennemies sur la planète. Il dut également faire face à l’arrivée sur la
						planète de plusieurs organisations criminelles mais sut les affronter avec courage et intelligence.
					</p>
				</div>
				<a href="qui_gon_jinn.html" class="left">  <img src="../../images/background/icone-fleche-gauche-jaune.png" width="30px" alt="">qui gon inn</a>
				<a href="jar_jar_bink.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="">jar jar bink</a>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
