<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>C-3PO</title>
	</head>

	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>C-3PO</h1>
						<p>
							À l'origine, C-3PO fut construit à partir de pièces détachées par <a href="../characters/anakin_skywalker.html">Anakin Skywalker</a> enfant pour aider sa mère. Le garçon ne l'ayant pas
							recouvert de la carcasse habituelle des droïdes de protocole, les mécanismes internes de C-3PO étaient visibles, ce qui le gênait, étant étrangement pudique pour un droïde. C'est sur
							<a href="../planets/tatooine.html">Tatooine</a>, d'où il n'avait jamais bougé, qu'il rencontra <a href="../characters/r2-d2.html">R2-D2</a>. Naquit alors entre eux une amitié qui durera
							pendant de nombreuses années. Après le départ d'Anakin, sa mère, <a href="../characters/shmi_skywalker.html">Shmi Skywalker Lars</a>, lui donna une carcasse de couleur métallique,
							ensuite remplacée par une autre carcasse dorée fournie par l'ambassade de <a href="../planets/naboo.html">Naboo</a>, lorsqu'il entra au service de la sénatrice
							<a href="../characters/padme_amidala.html">Padmé Amidala</a>.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/characters/c3po.jpg" alt="" />
						<table>
							<tr>
								<th>Apparait dans:</th>
								<td><a href="../movies/movie1.html">La Menace Fantôme</a>, <a href="../movies/movie2.html">L'Attaque des Clones</a>, <a href="../movies/movie3.html">La Revanche des Siths</a></td>
							</tr>
							<tr>
								<th>Première apparition:</th>
								<td><a href="../movies/movie1.html">La Menace Fantôme</a></td>
							</tr>
							<tr>
								<th>Affiliation:</th>
								<td>Famille Skywalker</td>
							</tr>
							<tr>
								<th>Race:</th>
								<td>Droïde</td>
							</tr>
							<tr>
								<th>Genre:</th>
								<td>Programmation masculine</td>
							</tr>
							<tr>
								<th>Planète d'origine:</th>
								<td><a href="../planets/tatooine.html">Tatooine</a></td>
							</tr>
							<tr>
								<th>Métier:</th>
								<td>Protection de la mère d'Anakin</td>
							</tr>
							<tr>
								<th>Côté de la Force:</th>
								<td>Neutre</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="relations">
					<hr />
					<h2>Rôle dans l'histoire</h2>
					<img src="../../images/movies/poster1.jpg" alt="" />
					<p>
						Des années après, lorsque le Tantive IV fut attaqué par <a href="../corporations/empire_galactique.html">l'Empire Galactique</a> et que Antilles fut tué par Dark Vador, C-3PO fuit avec
						<a href="../characters/r2-d2.html">R2-D2</a> dans une capsule de sauvetage qui s'écrasa sur <a href="../planets/tatooine.html">Tatooine</a>. Sur
						<a href="../planets/tatooine.html">Tatooine</a>, les deux droïdes furent récupérés par des Jawas et furent mis en vente. Ils furent ensuite vendus à Luke Skywalker et à son oncle Owen
						Lars. Lors de cette vente par les Jawas, C-3PO conseilla à Luke d'acquérir <a href="../characters/r2-d2.html">R2-D2</a> lorsque que l'autre droïde astromech, R5-D4, choisi par son oncle,
						fut victime d'une panne.
					</p>
					<p>
						Après que Owen et Beru eurent été massacrés par l'Empire, C-3PO et <a href="../characters/r2-d2.html">R2-D2</a> se rendirent avec Luke et Ben Kenobi à Mos Eisley d'où ils décolleront vers
						Alderaan à bord du Faucon Millenium de Han Solo.
					</p>
					<p>
						C-3PO était un personnage svelte duquel se dégage une vraie poésie. Sa voix douce pour un droïde, sa sensibilité, sa vulnérabilité, un curieux mélange d'orgueil et d'humilité font son
						charme. C'est d'ailleurs ce qui a créé une véritable osmose avec son interprète, Anthony Daniels.
					</p>
				</div>
				<a href="sio_bibble.html" class="left">  <img src="../../images/background/icone-fleche-gauche-jaune.png" width="30px" alt="">sio bibble</a>
				<a href="r2-d2.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="">R2d2</a>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
