<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Chewbacca</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Chewbacca</h1>
						<p>
							Chewbacca est un personnage de Star Wars. Légendaire guerrier Wookiee et copilote du Faucon Millenium aux côtés du légendaire contrebandier Han Solo, Chewbacca fait partie du noyau de
							rebelles qui ont restauré la liberté dans la galaxie. Connu pour se mettre très facilement en colère et sa précision à l'arbalète, Chewbacca a aussi un grand cœur et fait preuve d'une
							loyauté indéfectible envers ses amis. Chewbacca est joué par Peter Mayhew dans les épisodes IV (1977), V (1980), VI (1983), et III (2005). Joonas Suotamo partage le rôle avec Peter pour
							l'épisode VII (2015) puis le reprend totalement pour l'épisode VIII (2017), le spin-off Solo: A Star Wars Story (2018) et l'épisode IX (2019) 3.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/characters/chewbacka.jpg" alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td>
									<a href="../movies/movie3.html">La Revanche des Sith</a>, Solo, Un nouvel espoir, L'Empire contre-attaque, Le Retour du Jedi, Le Réveil de la Force, Les Derniers Jedi, L'Ascension de
									Skywalker
								</td>
							</tr>
							<tr>
								<th>Première apparition :</th>
								<td></td>
							</tr>
							<tr>
								<th>Affiliations :</th>
								<td>Alliance rebelle</td>
							</tr>
							<tr>
								<th>Race :</th>
								<td>Wookiee</td>
							</tr>
							<tr>
								<th>Genre :</th>
								<td>Masculin</td>
							</tr>
							<tr>
								<th>Planète d'origine :</th>
								<td><a href="../planets/kashyyk.html">Kashyyyk</a></td>
							</tr>
							<tr>
								<th>Métier :</th>
								<td>Guerrier, Mécanicien, Pilote, Contrebandier</td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Lumineux</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="relations">
					<hr />
					<h2>Rôle dans l'histoire</h2>
					<img src="../../images/movies/poster3.jpg" alt="" />
					<p>
						Chewbacca apparaît dans le 22e épisode de la troisième saison de la série Star Wars: <a href="../movies/movie2.html">L'Attaque des Clones</a>. Il a été enlevé et rejeté sur une planète
						forestière, pour y être chassé, par des chasseurs trandoshans aux côtés d'Ahsoka Tano et de deux autres jeunes <a href="../corporations/jedi.html">Jedi</a>, qui parviennent d'ailleurs à
						triompher de leurs poursuivants grâce à la grande force physique du Wookiee et grâce à l'émetteur construit par celui-ci afin de contacter <a href="../planets/kashyyk.html">Kashyyyk</a>.
						Les Wookiees vinrent secourir Chewbacca et les padawans. Ensuite, Chewbacca rencontre pour la première fois des Chevaliers Jedi (Plo Koon,
						<a href="../characters/anakin_skywalker.html">Anakin Skywalker</a> et <a href="../characters/obi-wan_kenobi.html">Obi-Wan Kenobi</a>) pour leur ramener les padawans.
					</p>
					<p>
						En compagnie de <a href="../characters/tarrful.html">Tarfful</a>, Chewbacca aide <a href="../characters/yoda.html">Yoda</a>, Luminara Unduli et sa légion, la 41e, dans la défense de
						Kashyyyk. Il permet également Yoda à s'enfuir lorsque <a href="../characters/palpatine.html">Dark Sidious</a> ordonne l'élimination de tous les Jedi.
					</p>
					<p></p>
				</div>
			<a href="general_grievous.html" class="left">  <img src="../../images/background/icone-fleche-gauche-jaune.png" width="30px" alt="">general grievious</a>
			<a href="tarrful.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="">padme</a>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
