<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Dexter Jettster</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Dexter Jettster</h1>
						<p>
							Dexter "Dex" Jettster était un cuisiner Besalisk. Juste avant la Guerre des Clones, Jettster était propriétaire du restaurant Chez Dex à Coco Town. Ayant un passé très divers, soit donc
							une grande expérience et une grande culture, le <a href="../corporations/jedi.html">Jedi</a> <a href="../characters/obi-wan_kenobi.html">Obi-Wan Kenobi</a> a souvent eu besoin de lui
							pour avoir des informations.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/characters/dexterjettster.jpg" alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td><a href="../movies/movie2.html">L'Attaque des Clones</a></td>
							</tr>
							<tr>
								<th>Première apparition :</th>
								<td>L'Attaque des Clones</td>
							</tr>
							<tr>
								<th>Affiliations :</th>
								<td>Chez Dex</td>
							</tr>
							<tr>
								<th>Race :</th>
								<td>Besalisk</td>
							</tr>
							<tr>
								<th>Genre :</th>
								<td>Masculin</td>
							</tr>
							<tr>
								<th>Planète d'origine :</th>
								<td><a href="../planets/coruscant.html">Coruscant</a></td>
							</tr>
							<tr>
								<th>Métier :</th>
								<td>Cuisinier</td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Neutre</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="relations">
					<hr />
					<h2>Rôle dans l'histoire</h2>
					<img src="../../images/movies/poster1.jpg" alt="" />
					<p>
						Dexter a indirectement joué un grand rôle dans la Guerre des Clones, en indiquant à <a href="../characters/obi-wan_kenobi.html">Obi-Wan</a> que la pointe empoisonnée (Kamino Saberdart)
						envoyée par <a href="../characters/jango_fett.html">Jango Fett</a> sur la chasseuse de primes <a href="../characters/zam_wesell.html">Zam Wesell</a> provenait de
						<a href="../planets/kamino.html">Kamino</a>.
					</p>
					<p></p>
				</div>
				<a href="taun_we.html" class="left">  <img src="../../images/background/icone-fleche-gauche-jaune.png" width="30px" alt="">tawn we</a>
				<a href="gregar_typho.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="">gregar typho</a>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
