<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title></title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Gregar Typho</h1>
						<p>
							Gregar Typho est le neveu du capitaine <a href="../characters/panaka.html">Panaka</a> et le garde du corps de la sénatrice <a href="../characters/padme_amidala.html">Padmé Amidala</a>,
							dont il était fou amoureux, mais il n'a jamais eu l'occasion de le lui avouer. Parvenu à son poste grâce à son indéfectible loyauté envers son oncle, Typho est un novice dans cet
							environnement dangereux, dont les représentants galactiques du <a href="../corporations/senat_galactique.html">Sénat Galactique</a> sont, eux, familiers. Typho a perdu un œil dans
							l'exercice de ses fonctions.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/characters/Grievoushead.webp" alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td><a href="../movies/movie3.html">La Revanche des Sith</a></td>
							</tr>
							<tr>
								<th>Première apparition :</th>
								<td>La Revanche des Sith</td>
							</tr>
							<tr>
								<th>Affiliations :</th>
								<td><a href="../corporations/conseil_separatiste.html">CSI</a></td>
							</tr>
							<tr>
								<th>Race :</th>
								<td>Kaleesh</td>
							</tr>
							<tr>
								<th>Genre :</th>
								<td>Masculin</td>
							</tr>
							<tr>
								<th>Planète d'origine :</th>
								<td>Kalee</td>
							</tr>
							<tr>
								<th>Métier :</th>
								<td>Général</td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Obscur</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="relations">
					<hr />
					<h2>Rôle dans l'histoire</h2>
					<img src="../../images/movies/poster2.jpg" alt="" />
					<p>
						En 19 av.BY, il décida de retrouver le tueur de <a href="../characters/padme_amidala.html">Padmé Amidala</a>, et de la venger. Il découvrit que le tueur était
						<a href="../characters/anakin_skywalker.html">Dark Vador</a>. Il réussit à savoir que le Seigneur <a href="../corporations/sith.html">Sith</a> cherchait le
						<a href="../corporations/jedi.html">Jedi</a> Jax Pavan à tout prix, plus que les autres Jedi survivants. Il acheta une amulette, qui permettait de se dissimuler de la Force. Il prit
						contact, déguisé, avec Dark Vador, qui, comme prévu, ne put le sonder. <a href="../characters/gregar_typho.html">Gregar</a> lui dit qu'il savait où était Jax Pavan, et que, s'il venait au
						point de rendez-vous sans arme ni soldat, il le lui livrerait.
					</p>
					<p>
						Comme prévu, Dark Vador arriva seul et non-armé au point de rendez-vous. Evidemment, Gregar n'était pas venu avec Jax Pavan. Il attaqua Vador, mais fut projeté par la Force contre le mur.
						Ses côtes se brisèrent et il mourut sans avoir pu venger Padmé.
					</p>
				</div>
				<a href="chewbacca.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="">chewbacca </a>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
