<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Gregar Typho</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Gregar Typho</h1>
						<p>
							Gregar Typho est le neveu du capitaine <a href="../characters/panaka.html">Panaka</a> et le garde du corps de la sénatrice <a href="../characters/padme_amidala.html">Padmé Amidala</a>,
							dont il était fou amoureux, mais il n'a jamais eu l'occasion de le lui avouer. Parvenu à son poste grâce à son indéfectible loyauté envers son oncle, Typho est un novice dans cet
							environnement dangereux, dont les représentants galactiques du <a href="../corporations/senat_galactique.html">Sénat Galactique</a> sont, eux, familiers. Typho a perdu un œil dans
							l'exercice de ses fonctions.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/characters/gregar_typho.webp" alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td><a href="../movies/movie2.html">L'Attaque des Clones</a>, et <a href="../movies/movie3.html">La Revanche des Sith</a></td>
							</tr>
							<tr>
								<th>Première apparition :</th>
								<td>L'Attaque des Clones</td>
							</tr>
							<tr>
								<th>Affiliations :</th>
								<td>
									Maison Royale de <a href="../planets/naboo.html">Naboo</a>, Forces Royales de Sécurité de Naboo et <a href="../corporations/republique_galactique.html">République Galactique</a>
								</td>
							</tr>
							<tr>
								<th>Race :</th>
								<td>Être humain</td>
							</tr>
							<tr>
								<th>Genre :</th>
								<td>Masculin</td>
							</tr>
							<tr>
								<th>Planète d'origine :</th>
								<td>Naboo</td>
							</tr>
							<tr>
								<th>Métier :</th>
								<td>Garde du corps</td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Lumineux</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="relations">
					<hr />
					<h2>Rôle dans l'histoire</h2>
					<img src="../../images/movies/poster2.jpg" alt="" />
					<p>
						Gregar Typho était le neveu du capitaine <a href="../characters/panaka.html">Quarsh Panaka</a> et de sa femme Mariek Panaka . Son oncle a servi dans les forces de sécurité royales de
						<a href="../planets/naboo.html">Naboo</a>.
					</p>
					<p>
						Lors de l' invasion de Naboo, Gregar a été arrêté par la <a href="../corporations/federation_du_commerce.html">Fédération du commerce</a> et détenu au camp trois aux côtés de citoyens de
						Naboo qui avaient été incarcérés dans les dortoirs du campus de l'université de Gallo Mountain. Typho a fait tout son possible pour protéger sa famille tout en veillant à ce que de la
						nourriture soit fournie aux enfants du camp. Après avoir trouvé un émetteur en état de marche, Typho a assigné des quarts de travail pour maintenir les communications avec l'extérieur.
						Alors qu'il prenait son tour pendant l'un de ces quarts de travail, il apprit que la <a href="../characters/padme_amidala.html">reine de Naboo</a> était arrivée, ouvrant la porte à une
						résistance efficace à la Fédération du commerce. Gregar a alors commencé les préparatifs pour le combat à venir. Dans la bataille qui a suivi pour reprendre la planète, il a perdu son œil
						gauche.
					</p>
				</div>
				<a href="dexter_jettster.html" class="left">  <img src="../../images/background/icone-fleche-gauche-jaune.png" width="30px" alt="">anakin</a>
				<a href="index.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="">acceuil revenche des shits</a>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
