<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Jango Fett</title>
</head>

<body>
    <header>
        <iframe src="../../views/header.html" frameborder="0"></iframe>
    </header>
    <main>
        <div class="container">
            <div class="presentation">
                <div class="histoire">
                    <h1>Jango fett</h1>
                    <p>Jango Fett est un personnage de la saga cinématographique Star Wars. Chasseur de primes hors pair, il est parmi les plus réputés de sa profession, à tel point qu'il est recruté par les <a href="../planets/kamino.html">Kaminoens</a> pour servir de modèle aux soldats clones de l'armée de la <a href="../corporations/republique_galactique.html">République galactique</a>. </p>
                </div>
                <div class="presentoir">
                    <img src="../../images/characters/jango._fett.webp" alt="">
                    <table>
                        <tr>
                            <th>Apparaît dans : </th>
                            <td><a href="../movies/movie1.html">La Menace fantôme</a> , <a href="../movies/movie2.html">L'Attaque des clones</a> et <a href="../movies/movie3.html">La Vengeance des Sith</a>
                            </td>
                        </tr>
                        <th>Première apparition :</th>
                        <td>La Menace fantôme </td>
                        <tr>
                            <th>Affiliations :</th>
                            <td> <a href="../corporations/conseil_separatiste.html">Confédération des Systèmes Indépendants (CSI)</a></td>
                        </tr>
                        <tr>
                            <th>Race :</th>
                            <td>Être humain</td>
                        </tr>
                        <tr>
                            <th>Genre :</th>
                            <td>Masculin</td>
                        </tr>
                        <tr>
                            <th>Planète d'origine :</th>
                            <td><a href="../planets/kamino.html">kamino</a></td>
                        </tr>
                        <tr>
                            <th>Métier :</th>
                            <td>Chasseur de prime</td>
                        </tr>
                        <tr>
                            <th>Côté de la force :</th>
                            <td>Obscur </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="relations">
                <hr>
                <h2>Rôle dans l'histoire</h2>
                <img src="../../images/movies/poster1.jpg" alt="">
                <p>
                    Les origines du chasseur de primes Jango Fett ne sont pas connues, et bien qu'il arbore une armure mandalorienne, il n'a pas de lien avec Mandalorea. Étant l'un des meilleurs chasseurs de primes de la Galaxie, sa réputation attire l’attention des <a href="../planets/kamino.html">Kaminoens</a> qui, avec les conseils d'un dénommé Tyranus, décident de le recruter. Le maître <a href="../corporations/jedi.html">Jedi</a> Sifo-Dyas était en secret venu passer une commande pour le compte de la <a href="../corporations/republique_galactique.html">République</a> : une immense armée de clones. Jango est utilisé comme modèle génétique pour cette armée, cependant l'ADN utilisé, est légèrement modifié notamment afin de rendre les clones plus obéissants. En contrepartie, les généticiens de <a href="../planets/kamino.html">Kamino</a> lui donnent une importante somme d'argent, ainsi qu'un clone non-modifié qu'il élève comme un fils : <a href="boba_fett.html">Boba Fett</a>.
                </p> 
                <p>
                    Peu après, les Jedi <a href="obi-wan_kenobi.html">Obi-Wan</a> et <a href="anakin_skywalker.html">Anakin</a>, et la sénatrice <a href="padme_amidala.html">Amidala</a>, sont capturés sur <a href="../planets/geonosis.html">Géonosis</a>, et condamnés à mort dans une arène de la planète. Ils parviennent cependant à s'échapper grâce à l'arrivée in extremis des <a href="../corporations/jedi.html">Jedi</a> menés par <a href="mace_windu.html">Mace Windua</a>. Durant le combat qui suit entre les forces séparatistes et les Jedi, le chasseur de primes réussit à tuer le maître Jedi Coleman Trebora. Il rentre ensuite dans l'arène où il se retrouve face à Mace Windu. Le combat est cependant bref, le maître Jedi prend rapidement le dessus, et lui tranche la tête d'un coup de sabre laser.
                </p>
                <a href="boba_fett.html" class="left">  <img src="../../images/background/icone-fleche-gauche-jaune.png" width="30px" alt="">boba fett</a>
				<a href="taun_we.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="">taun we </a>
            </div>
    </main>
    <footer>
        <iframe src="../../views/footer.html" frameborder="0"></iframe>
    </footer>
</body>

</html>