<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Jar Jar Binks</title>
	</head>

	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Jar Jar Binks</h1>
						<p>
							Le personnage a profondément changé entre l'épisode I et les deux autres épisodes de la <a href="index.html">prélogie</a>. Il apparaît d'abord comme un personnage faible, irresponsable
							et maladroit. Puis, à la suite de sa fulgurante montée vers l'élite, il devient plus responsable et discret. Il reste toutefois naïf et influençable, et sert ainsi la volonté du
							Chancelier <a href="palpatine.html">Palpatine</a>. Il apparait abattu après la mort de <a href="padme_amidala.html">Padmé Amidala</a>, mais ne parviendra pas à comprendre le combat de
							celle-ci pour éviter la chute de la <a href="../corporations/republique_galactique.html">République</a>.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/characters/jarjar-bink.jpg" alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td><a href="../movies/movie1.html">La Menace fantôme</a>, <a href="../movies/movie2.html">L'Attaque des clones</a> l'héritage</td>
							</tr>
							<th>Première apparition :</th>
							<td><a>La Menace fantome</a></td>
							<tr>
								<th>Affiliations :</th>
								<td>Grande Armée <a href="../corporations/haut_conseil_gungan.html">Gungan</a>, <a href="../corporations/republique_galactique.html">République galactique</a></td>
							</tr>
							<tr>
								<th>Race :</th>
								<td><a href="../corporations/haut_conseil_gungan.html">Gungan</a></td>
							</tr>
							<tr>
								<th>Genre :</th>
								<td>Masculin</td>
							</tr>
							<tr>
								<th>Planète d'origine :</th>
								<td><a href="../planets/naboo.html">Naboo</a></td>
							</tr>
							<tr>
								<th>Métier :</th>
								<td><a href="../corporations/jedi.html">jedi</a></td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Lumineux</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="relations">
					<h2>Rôle dans l'histoire</h2>
					<img src="../../images/movies/poster1.jpg" alt="" />
					<p>Jar Jar Binks est un habitant de la planète <a href="../planets/naboo.html">Naboo</a>. Il peut à la fois vivre sur terre et dans l'eau.</p>
					<p>
						Banni de son peuple car il était trop maladroit, il rencontrera <a href="qui_gon_jinn.html">Qui-Gon Jinn</a> et <a href="obi-wan_kenobi.html">Obi-Wan Kenobi</a> alors que ceux-ci étaient
						poursuivis par les droïdes de la <a href="../corporations/federation_du_commerce.html">Fédération du commerce</a>. Pour échapper aux droïdes, Jar Jar Binks conduit les deux
						<a href="../corporations/jedi.html">Jedi</a> dans la cité sous-marine d'Otoh Gunga. Le chef des Gungans, <a href="boss_nass.html">Boss Nass</a>, voit d'un mauvais œil le retour du banni
						Jar Jar et de surcroît avec des humains. Le chef arrête donc Jar Jar et lui promet une punition. Qui-Gon Jinn fait valoir sa possession de Jar Jar afin que celui-ci les guide à travers le
						noyau de la planète dans le Bongo, offert par Boss Nass. En effet, dans la religion Gungan, Jar Jar a une dette éternelle envers Qui-Gon car celui-ci lui a sauvé la vie. Jar Jar
						accompagnera les fuyards et la reine <a href="padme_amidala.html">Padmé Amidala</a> sur <a href="../planets/tatooine.html">Tatooine</a>.
					</p>
					<p>
						Sa maladresse lui vaudra des situations gênantes et pittoresques tels que l'« agression » du droïde mécano chez <a href="watto.html">Watto</a>, le conflit de nourriture avec Sebulba, les
						deux accidents avec le module d'Anakin : il se prend la langue dans le rayon d'énergie et la main dans un réacteur. De retour sur <a href="../planets/naboo.html">Naboo</a>, il est chargé
						par la reine de retrouver les Gungans en fuite pour les rallier à leur cause. Lors du conseil de guerre, après l'alliance des humains et des Gungans, il est promu au rang de général par
						<a href="boss_nass.html">Boss Nass</a>, pensant que celui-ci a mûri. Cependant, Jar Jar s'évanouit lorsqu'il l'apprend. Il participera à la bataille des Gungans contre l'armée droïde de la
						<a href="../corporations/federation_du_commerce.html">Fédération du Commerce</a> où il montrera encore une fois à quel point il est peureux et maladroit en se cachant sous une charrette
						remplie de boumas. Il se prend les pieds dans un droïde qui va par la suite tirer plusieurs autres droïdes. Il libère sans faire exprès une dizaine de boumas qui roulent sur le sol et vont
						percuter les droïdes et les chars ennemis. Il se retrouve également au sommet d'un char et laisse échapper une boumas qui explose. Il saute alors sur le Kaadu d'un cavalier Gungan et le
						renverse. Pris au piège, il se rend finalement fort peu courageusement aux premières sommations de l'armée droïde, qui est heureusement désactivée peu de temps après.
					</p>
				</div>
				<a href="jar_jar_bink.html" class="left">  <img src="../../images/background/icone-fleche-gauche-jaune.png" width="30px" alt="">jar jar bink</a>
				<a href="ki_adi_mundi.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="">ki adi mundi</a>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
