<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../css/styles.css">
		<title>Ki-Adi-Mundi</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
                        <h1>Ki-Adi-Mundi</h1>
                        <p>Ki-Adi-Mundi est un personnage de fiction de la saga de Star Wars qui apparaît dans tous les épisodes de la <a href="index.html">prélogie</a>. Ki-Adi-Mundi est interprété par Silas Carson, comme le vice-roi <a href="nute_gunray.html">Nute Gunray</a> de la même trilogie.</p> 
                    </div>
                    <div class="presentoir">
                        <img src="../../images/characters/ki_di_mundi.webp" alt="">
                        <table>
                            <tr>
                                <th>Apparaît dans : </th> 
                                <td><a href="../movies/movie1.html">La Menace fantôme</a> , <a href="../movies/movie2.html">L'Attaque des clones</a> et <a href="../movies/movie3.html">La Vengeance des Sith</a></td>
                            </tr>
                                <th>Praière apparition :</th>
                                <td>La Menace fantôme </td>
                            <tr>
                                <th>Affiliations :</th>
                                <td><a href="../corporations/jedi.html">Ordre Jedi</a>/<a href="../corporations/republique_galactique.html">République galactique</a></td>
                            </tr>
                            <tr>
                                <th>Race :</th>
                                <td>Céréen</td>
                            </tr>
                            <tr>
                                <th>Genre :</th>
                                <td>Masculin</td>
                            </tr>
                            <tr>
                                <th>Planète d'origine :</th>
                                <td>Céréa</td>
                            </tr>
                            <tr>
                                <th>Métier :</th>
                                <td>Maître <a href="../corporations/jedi.html">Jedi</a></td> 
                            </tr>
                            <tr>
                                <th>Côté de la force :</th>
                                <td>Lumineux</td>
                            </tr>
						</table>
                    </div>
				</div>
                <div class="relations">
                    <hr>
                    <h2>Rôle dans l'histoire</h2>
                    <img src="../../images/movies/poster1.jpg" alt="">
					<p>Ki-Adi-Mundi est le padawan du Maître Jedi <a href="yoda.html">Yoda</a>. Sa sagesse était légendaire. Seul chevalier nommé au Conseil Jedi, il devient maitre Jedi quelques années plus tard. Il devient ensuite lui-même, à l'instar d'un autre apprenti de Yoda nommé <a href="mace_windu.html">Mace Windu</a>, membre du conseil Jedi. Le premier sabre laser de Ki-Adi-Mundi affiche une lame de couleur violette.</p> 
                    <p>Ki-Adi-Mundi assiste au début de la guerre des clones. En effet, il fait partie des Jedi qui viennent porter secours à leurs collègues dans l'arène des exécutions, lors de la praière bataille de <a href="../planets/geonosis.html">Géonosis</a>. Il en survit et devient général de l'armée clone. Il commande dès lors les Marines galactiques.</p> 
                    <p>Le Jedi participe à la seconde bataille de Géonosis. Durant celle-ci, il surpasse <a href="anakin_skywalker.html">Anakin Skywalker</a> et son apprentie Ahsoka Tano en nombre de droïdes de combat séparatistes vaincus, sans être dans un premier taps au courant de la compétition entre les deux autres Jedi.</p>
                  
                    <a href="jar_jar_bink.html" class="left">  <img src="../../images/background/icone-fleche-gauche-jaune.png" width="30px" alt="">jar jar bink</a>
				<a href="yoda.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="">yoda</a>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>