<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Mace Windu</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Mace Windu</h1>
						<p>
							Mace Windu est un maître <a href="../corporations/jedi.html">Jedi</a>, personnage de la saga cinématographique Star Wars. Il est interprété au cinéma par Samuel L. Jackson dans
							<a href="../movies/movie1.html">La Menace fantôme </a>, <a href="../movies/movie2.html">L'Attaque des clones</a> et <a href="../movies/movie3.html">La Revanche des Sith</a>.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/characters/mace_windu.jpg" alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td><a href="../movies/movie1.html">La Menace Fantôme</a> , <a href="../movies/movie2.html">L'Attaque des Clones</a> et <a href="../movies/movie3.html">La Vengeance des Sith</a></td>
							</tr>
							<th>Première apparition :</th>
							<td><a href="../movies/movie1.html">La Menace Fantôme</a></td>
							<tr>
								<th>Affiliations :</th>
								<td><a href="../corporations/jedi.html">Ordre Jedi</a>/ <a href="../corporations/republique_galactique.html">République galactique</a></td>
							</tr>
							<tr>
								<th>Race :</th>
								<td>Être humain</td>
							</tr>
							<tr>
								<th>Genre :</th>
								<td>Masculin</td>
							</tr>
							<tr>
								<th>Planète d'origine :</th>
								<td>Haruun Kal</td>
							</tr>
							<tr>
								<th>Métier :</th>
								<td>Maître <a href="../corporations/jedi.html">Jedi</a></td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Lumineux</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="relations">
					<hr />
					<h2>Rôle dans l'histoire</h2>
					<img src="../../images/movies/poster1.jpg" alt="" />
					<p>
						Dans les événements qui ont abouti à la bataille de <a href="../planets/geonosis.html">Géonosis</a> (<a href="../movies/movie2.html">Attaque des clones</a> ), Mace Windu accompagna 200
						Jedi chargés de secourir <a href="obi-wan_kenobi.html">Obi-Wan Kenobi</a>, sur le point d'être exécuté en compagnie d'<a href="anakin_skywalker.html">Anakin Skywalker</a> et de la
						Sénatrice <a href="padme_amidala.html">Padmé Amidala</a> sur ordre du <a href="compte_dooku.html">Comte Dooku</a>.
					</p>
					<p>
						Pendant la guerre des clones, Maître Windu fut l'un des grands généraux de l'armée de la <a href="../corporations/republique_galactique.html">République</a>, en possédant une légion de 5
						000 hommes et un commandant clone, du nom de commandant Ponds.
					</p>
					<p>
						Lors de la bataille de <a href="../planets/coruscant.html">Coruscant</a>, après le sauvetage du Chancelier <a href="palpatine.html">Palpatine</a> sur le vaisseau amiral du général
						<a href="general_grievous.html">Grievous</a> (la Main Invisible), il apprend grâce à <a href="anakin_skywalker.html">Anakin Skywalker</a> que le Seigneur Noir des
						<a href="../corporations/sith.html">Sith</a>, <a href="palpatine.html">Dark Sidious</a>, n'est autre que le Chancelier en personne. Pressé d'arrêter le Sith, le Maître Jedi se rend
						immédiatement à son bureau accompagné de trois Jedi seulement, Kit Fisto, Agen Kolar et Saesee Tiin.
					</p>
				</div>
				<a href="obi-wan_kenobi.html" class="left">  <img src="../../images/background/icone-fleche-gauche-jaune.png" width="30px" alt="">obiwan</a>
				<a href="index.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="" title="voir les protagoniste de la menace fantome">index personnages</a>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
