<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Nute Gunray</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Nute Gunray</h1>
						<p>
							Nute Gunray est un personnage de Star Wars créé pour la
							<a href="../index.html">deuxième trilogie</a> de la saga. Originaire de Cato Neimodia, ce neimodien est vice-roi de la
							<a href="../corporations/federation_du_commerce.html">Fédération du Commerce</a>
							dans les films dans lesquels il apparaît.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/characters/nute_gunray.webp" alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td>
									<a href="../movies/movie1.html">La Menace fantôme</a> , <a href="../movies/movie2.html">L'Attaque des Clones</a> et
									<a href="../movies/movie3.html">La Vengeance des Sith</a>
								</td>
							</tr>
							<tr>
								<th>Première apparition :</th>
								<td><a href="../movies/movie1.html">La Menace Fantôme</a></td>
							</tr>
							<tr>
								<th>Affiliations :</th>
								<td>
									<a href="../corporations/federation_du_commerce.html">Fédération du commerce/CSI</a>
								</td>
							</tr>
							<tr>
								<th>Race :</th>
								<td>Neimoidien</td>
							</tr>
							<tr>
								<th>Genre :</th>
								<td>Masculin</td>
							</tr>
							<tr>
								<th>Planète d'origine :</th>
								<td>Cato Neimodia</td>
							</tr>
							<tr>
								<th>Métier :</th>
								<td>Vice-roi de la Fédération du commerce</td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Obscur</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="relations">
					<hr />
					<h2>Rôle dans l'histoire</h2>
					<img src="../../images/movies/poster1.jpg" alt="" />
					<p>
						Dans <a href="../movies/movie1.html">La Menace fantôme</a>, il s'agit de l'antagoniste le plus présent. Il lance le blocus de <a href="../planets/naboo.html">Naboo</a>, guidé dans l'ombre
						par le
						<a href="../corporations/sith.html">Sith</a>
						<a href="../characters/palpatine.html">Dark Sidious</a> et temporairement secondé de l'apprenti du Sith, <a href="../characters/dark_maul.html">Dark Maul</a>. Il rejoint ensuite le
						<a href="../corporations/conseil_separatiste.html">Conseil séparatiste</a>
						du <a href="../characters/compte_dooku.html">comte Dooku</a>, le second apprenti de Dark Sidious, et assiste au commencement de la guerre des clones à
						<a href="../planets/geonosis.html">Géonosis</a> dans <a href="../movies/movie2.html">L'Attaque des clones</a>. Il est enfin tué dans
						<a href="../movies/movie3.html">La Revanche des Sith</a> à la fin de cette guerre à <a href="../planets/mustafar.html">Mustafar</a>, lorsque le nouvel apprenti de Dark Sidious,
						<a href="../characters/anakin_skywalker.html">Dark Vador</a>, est envoyé par son maître massacrer les dirigeants <a href="../corporations/conseil_separatiste.html">séparatistes</a>.
					</p>
					<p>
						Rôle dans le blocus de <a href="../planets/naboo.html">Naboo</a> :
						<br />
						Vice-roi de la
						<a href="../corporations/federation_du_commerce.html">Fédération du Commerce</a>, Nute Gunray est contacté par le mystérieux <a href="../corporations/sith.html">Sith</a> Dark Sidious (qui
						n'est autre que le sénateur <a href="../characters/palpatine.html">Palpatine</a> de Naboo) en 32 av. BY. Le Sith manipule alors Gunray pour l'amener à superviser le blocus de Naboo
						illégalement. Le neimodien envoie ensuite son armée envahir Naboo. Nute Gunray décide d'orchestrer le blocus de Naboo lorsqu'il apprend que le
						<a href="../corporations/senat_galactique.html">Sénat</a> décide de taxer les zones éloignées où la
						<a href="../corporations/federation_du_commerce.html">Fédération du Commerce</a>
						s'enrichit. Lorsque des
						<a href="../corporations/jedi.html">Jedi</a> sont envoyés par la
						<a href="../corporations/republique_galactique.html">République</a>
						en ambassadeurs, Dark Sidious convainc Gunray de tenter de les tuer, mais il échoue.
					</p>
					<p>
						Rôle dans la guerre des clones : <br />
						Gunray se rapproche de la CSI (Confédération des Systèmes Indépendants) et devient membre du
						<a href="../corporations/conseil_separatiste.html">Conseil séparatiste</a>. Il fournit l'organisation en droïdes de combat et donne un grand avantage à son camp au début de la guerre des
						clones. <br />
						Alors que le Conseil séparatiste est réuni à
						<a href="../planets/mustafar.html">Mustafar</a>, le nouveau Sith Dark Vador arrive. Il tue alors tous les membres. Nute Gunray est la dernière victime du massacre. Alors qu'il s'attend
						depuis le début de son partenariat avec Dark Sidious à un titre respectable dans l'<a href="../corporations/empire_galactique.html">Empire galactique</a> que ce dernier s'apprête à fonder,
						Dark Sidious le trahit ainsi en le faisant tuer.
					</p>
				</div>
				<a href="finis_valorum.html" class="left">  <img src="../../images/background/icone-fleche-gauche-jaune.png" width="30px" alt="">finis valorum</a>
				<a href="qui_gon_jinn.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="">qui gon jinn</a>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
		<a href="ptit_oeuf.html#test">-</a>
	</body>
</html>
