<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Padmé Amidala</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Padmé Amidala</h1>
						<p>Padmé Amidala est un personnage de fiction, femme politique dans la prélogie (épisodes I, II et III) de Star Wars. Elle est interprétée par Natalie Portman.</p>
					</div>
					<div class="presentoir">
						<img src="../../images/characters/padme_admidala.webp" alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td>
									<a href="../movies/movie1.html">La Menace fantôme</a> , <a href="../movies/movie2.html">L'Attaque des clones</a> et
									<a href="../movies/movie3.html">La Vengeance des Sith</a>
								</td>
							</tr>
							<tr>
								<th>Première apparition :</th>
								<td><a href="../movies/movie1.html">La Menace fantôme</a></td>
							</tr>
							<tr>
								<th>Affiliations :</th>
								<td>
									<a href="../corporations/republique_galactique.html">République galactique</a>
								</td>
							</tr>
							<tr>
								<th>Race :</th>
								<td>Être humain</td>
							</tr>
							<tr>
								<th>Genre :</th>
								<td>Féminin</td>
							</tr>
							<tr>
								<th>Planète d'origine :</th>
								<td><a href="../planets/naboo.html">Naboo</a></td>
							</tr>
							<tr>
								<th>Métier :</th>
								<td>Reine de <a href="../planets/naboo.html">Naboo</a>, Sénatrice de <a href="../planets/naboo.html">Naboo</a></td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Lumineux</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="relations">
					<hr />
					<h2>Rôle dans l'histoire</h2>
					<img src="../../images/movies/poster1.jpg" alt="" />
					<p>
						Dans <a href="../movies/movie1.html">La Menace fantôme</a> à l'âge de quatorze ans, Padmé devient démocratiquaent la souveraine du peuple de la planète
						<a href="../planets/naboo.html">Naboo</a> et gouverne sous le nom de Padmé Amidala. Les Neimodiens, à la tête de la fédération du Commerce espéraient que la jeunesse et l'inexpérience de
						la jeune reine feraient d'elle une proie facile. Elle résiste pourtant et refuse de signer le traité imposé par Gunray, celui-ci tente donc de l'assassiner. Elle s'échappe de justesse avec
						les <a href="../corporations/jedi.html">Jedis</a> <a href="../characters/qui_gon_jinn.html">Qui-Gon Jinn</a> et <a href="../characters/obi-wan_kenobi.html">Obi-Wan Kenobi</a>, et tente de
						rejoindre <a href="../planets/coruscant.html">Coruscant</a> pour plaider la cause de son peuple au Sénat. Lors d'une halte imprévue sur <a href="../planets/tatooine.html">Tatooine</a>,
						sous les traits d'une suivante, elle fait la connaissance du jeune
						<a href="../characters/anakin_skywalker.html">Anakin Skywalker</a>
						et de sa mère <a href="../characters/shmi_skywalker.html">Shmi</a>.
					</p>
					<p>
						Une dizaine d'années plus tard dans
						<a href="../movies/movie2.html">L'Attaque des clones</a>, Padmé est devenue sénatrice de <a href="../planets/naboo.html">Naboo</a> après expiration de son mandat de reine, poste pour
						lequel elle a été réélue deux fois, et mène une faction qui se prononce contre l'établissaent d'une armée de la République en réponse à la menace du mouvaent Séparatiste. Elle est victime
						d'un attentat sur <a href="../planets/coruscant.html">Coruscant</a> qui tue sa doublure : Cordé.
					</p>
					<p>
						Dans <a href="../movies/movie3.html">La Revanche des Sith</a>, trois ans ont passé et la Guerre des Clones fait rage dans la galaxie. Désormais enceinte, Padmé est réduite à un rôle plus
						effacé d'autant plus que son amour pour <a href="../characters/anakin_skywalker.html">Anakin</a> est demeuré secret. Ce dernier est victime de prémonitions lui annonçant la mort de Padmé.
						C'est pour lui épargner ce funeste sort qu'il se laisse séduire par les promesses du chancelier <a href="../characters/palpatine.html">Palpatine</a>, en fait le mystérieux Dark Sidious, le
						seigneur noir des Sith.
					</p>
				</div>
				<a href="palpatine.html" class="left">  <img src="../../images/background/icone-fleche-gauche-jaune.png" width="30px" alt="">palpatine</a>
				<a href="obi-wan_kenobi.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="">obi wan </a>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
