<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Capitaine Panaka</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Capitaine Panaka</h1>
						<p>
							Quarsh Panaka était le chef des volontaires des Forces Royales de Sécurité de <a href="../planets/naboo.html">Naboo</a>. Il devint Chef de la Garde rapprochée de la Reine de
							<a href="../planets/naboo.html">Naboo</a>, notamment de Reine <a href="../characters/padme_amidala.html">Padmé Amidala</a> lors de son voyage à
							<a href="../planets/coruscant.html">Coruscant</a> pour demander au Sénat Galactique de lever le blocus de la Fédération du commerce sur <a href="../planets/naboo.html">Naboo</a>.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/characters/panaka.jpg" alt="" />
						<table>
							<tr>
								<th>Apparait dans:</th>
								<td><a href="../movies/movie1.html">La Menace Fantôme</a></td>
							</tr>
							<tr>
								<th>Première apparition:</th>
								<td><a href="../movies/movie1.html">La Menace Fantôme</a></td>
							</tr>
							<tr>
								<th>Affiliation:</th>
								<td>
									Forces Royales de sécurité de
									<a href="../planets/naboo.html">Naboo</a>
								</td>
							</tr>
							<tr>
								<th>Race:</th>
								<td>Être humain</td>
							</tr>
							<tr>
								<th>Genre:</th>
								<td>Masculin</td>
							</tr>
							<tr>
								<th>Planète d'origine:</th>
								<td><a href="../planets/naboo.html">Naboo</a></td>
							</tr>
							<tr>
								<th>Métier:</th>
								<td>Commandant des forces armées</td>
							</tr>
							<tr>
								<th>Côté de la Force:</th>
								<td>Lumineux</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="relations">
					<hr />
					<h2>Rôle dans l'histoire</h2>
					<img src="../../images/movies/poster1.jpg" alt="" />
					<p>
						Sous l'Empire Galactique, Panaka resta fidèle à l'Empereur
						<a href="../characters/palpatine.html">Sheev Palpatine</a> et devint Moff. Cependant, son ascension dans la hiérarchie Impériale fut stoppée lorsqu'il se fit assassiner par les Partisans
						de Saw Gerrera, trois ans avant la bataille de Yavin.
					</p>
					<p>
						Quarsh Panaka prit le commandement des Forces Royales de Sécurité de
						<a href="../planets/naboo.html">Naboo</a>, supervisant ainsi personnellement la sécurité de la Reine <a href="../characters/padme_amidala.html">Padmé Amidala</a>. Sachant que
						<a href="../planets/naboo.html">Naboo</a> était vulnérable en cas d'attaque, Panaka réclama à la Reine des mesures de sécurité plus strict. Cependant, le Conseil Consultatif parvint à
						convaincre <a href="../characters/padme_amidala.html">Padmé</a> de poursuivre sa politique pacifique.
					</p>
					<p>
						Quarsh Panaka était un officier courageux qui entraînait constamment ses hommes aux mieux de leur capacité. Cependant, malgré cela, il savait que
						<a href="../planets/naboo.html">Naboo</a> restait vulnérable en cas d'attaque.
					</p>
				</div>
				<a href="r2-d2.html" class="left">  <img src="../../images/background/icone-fleche-gauche-jaune.png" width="30px" alt="">r2d2</a>
				<a href="index.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="">acceuil l' attaque des clones  </a>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
