<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Poggle le Bref</title>
	</head>

	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Poggle le bref</h1>
						<p>
							Poggle est né dans l'une des castes inférieures de
							<a href="../planets/geonosis.html">Géonosis</a> . Il est né Lesser, un ouvrier. Les moindres naissent sans ailes, mais Poggle était différent parce qu'il avait des ailes. Les Lesser
							étaient maltraités et méprisés par les aristocrates , qui avaient des ailes. Il n'était pas satisfait de cette situation.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/characters/poggle_bataille.jpg" alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td>
									<a href="../movies/movie1.html">La Menace Fantôme</a> , <a href="../movies/movie2.html">L'Attaque des Clones</a> et
									<a href="../movies/movie3.html">La Revanche des Siths</a>
								</td>
							</tr>
							<th>Première apparition :</th>
							<td><a href="../movies/movie1.html">La Menace fantôme</a></td>
							<tr>
								<th>Affiliations :</th>
								<td>Ruche Stalgasin</td>
							</tr>
							<tr>
								<th>Race :</th>
								<td>Géonosien</td>
							</tr>
							<tr>
								<th>Genre :</th>
								<td>Masculin</td>
							</tr>
							<tr>
								<th>Planète d'origine :</th>
								<td><a href="../planets/geonosis.html">Géonosis</a></td>
							</tr>
							<tr>
								<th>Métier :</th>
								<td>Politique</td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Ne maitrise pas la force</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="relations">
					<hr />
					<h2>Rôle dans l'histoire</h2>
					<img src="../../images/movies/poster1.jpg" alt="" />
					<p>
						Poggle a eu l'idée d'un coup d'État et a lancé un mouvement de résistance. Il a formé un groupe avec d'autres Lesser mécontents. Ensemble, ils ont attaqué les aides du chef alors régnant
						"Hadiss the Vaulted". Hadiss n'a pas laissé passer cela et les a tous récupérés pour concourir dans l'arène de Petranaki. De plus en plus de Lessers mouraient dans l'arène, mais Poggle
						savait qu'il serait victorieux. Sa rébellion était en effet soutenue par Dark Sidious . Après un an, il a pris d'assaut Hadiss à dos d'un Acklay et l'a tué. Poggle a pris le relais. En
						mémoire d'Hadiss, il tenait une de ses jambes en guise de bâton. Peu de temps après, Poggle nomma le Geonosian Sun Fac comme son lieutenant .
					</p>
					<p>
						Poggle le Moindre signe le traité des Séparatistes/Confédération des Systèmes Indépendants (CEI) dirigé par le renégat Jedi, le
						<a href="../characters/compte_dooku.html">Comte Dooku</a>. Les Séparatistes prônent la sécession de la
						<a href="../corporations/republique_galactique.html">République Galactique</a>
						. <a href="../characters/compte_dooku.html">Dooku</a> a promis le libre-échange sans taxes. En outre, Poggle,
						<a href="../characters/compte_dooku.html">Dooku</a>
						et le reste des parties commerciales impliquées ont proposé
						<a href="../planets/geonosis.html">Géonosis</a>
						comme la planète où les usines de droïdes produiront les droïdes de combat et les droïdes. Bien sûr, Poggle s'inscrit également pour participer au mouvement séparatiste, qui est clairement
						parti pour une guerre contre la
						<a href="../corporations/republique_galactique.html">République Galactique</a>
						et le chancelier
						<a href="../characters/palpatine.html">Palpatine</a> . Dans l'épisode II, Poggle montre les exécutions du sénateur Nabooan <a href="../characters/padme_amidala.html">Padmé Amidala</a> ,
						Jedi-Padawan
						<a href="../characters/anakin_skywalker.html">Anakin Skywalker</a>
						et le chevalier <a href="../corporations/jedi.html">Jedi</a> <a href="../characters/obi-wan_kenobi.html">Obi-Wan Kenobi</a> dans l'arène de Petranaki. Le trio est reconnu coupable
						d'espionnage. Sur ordre de Poggle, trois bêtes dangereuses sont envoyées pour les attaquer, jusqu'à ce que les <a href="../corporations/jedi.html">Jedi</a> entendent la nouvelle et
						empêchent leur mort. Deux cents <a href="../corporations/jedi.html">Jedi</a> entourent l'arène de Petranaki. Poggle et <a href="../characters/compte_dooku.html">Dooku</a> envoient alors
						des droïdes entièrement construits vers les <a href="../corporations/jedi.html">Jedi</a>, mais une armée de clones commandée pour la
						<a href="../corporations/republique_galactique.html">République Galactique</a>
						arrive pour sauver les survivants. L'armée de Clone Troopers affronte les droïdes et remporte facilement la bataille de
						<a href="../planets/geonosis.html">Géonosis</a> . Poggle et le reste des séparatistes fuient la planète. Les séparatistes ne se rendent pas et la guerre des clones a commencé. Star Wars :
						The Clone Wars (série animée)
					</p>
				</div>
				<a href="zam_wesell.html" class="left">  <img src="../../images/background/icone-fleche-gauche-jaune.png" width="30px" alt="">zam wesell</a>
				<a href="boba_fett.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="">boba fett</a>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
