<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Qui-Gon Jinn</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Qui-Gon Jinn</h1>
						<p>
							Avant <a href="../movies/movie1.html">La Menace fantôme</a>, Qui-Gon Jinn est natif de <a href="../planets/coruscant.html">Coruscant</a> où il est recueilli très jeune par les
							<a href="../corporations/jedi.html">Jedi</a>. Il devient le Padawan du <a href="../characters/compte_dooku.html">comte Dooku</a> qui lui enseigne le savoir et la philosophie Jedi.
							Lorsqu'il devient chevalier, il prend le jeune
							<a href="../characters/obi-wan_kenobi.html">Obi-Wan Kenobi</a>
							comme apprenti.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/characters/qui-gon_jinn.webp" alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td><a href="../movies/movie1.html">La Menace fantôme</a></td>
							</tr>
							<th>Première apparition :</th>
							<td><a href="../movies/movie1.html">La Menace fantôme</a></td>
							<tr>
								<th>Affiliations :</th>
								<td><a href="../corporations/jedi.html">Jedi</a></td>
							</tr>
							<tr>
								<th>Race :</th>
								<td>Être humain</td>
							</tr>
							<tr>
								<th>Genre :</th>
								<td>Masculin</td>
							</tr>
							<tr>
								<th>Planète d'origine :</th>
								<td><a href="../planets/coruscant.html">Coruscant</a></td>
							</tr>
							<tr>
								<th>Métier :</th>
								<td><a href="../corporations/jedi.html">Jedi</a></td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Lumineux</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="relations">
					<hr />
					<h2>Rôle dans l'histoire</h2>
					<img src="../../images/movies/poster1.jpg alt="">
					<p>
						La taxation des routes commerciales pousse la
						<a href="../corporations/federation_du_commerce.html">Fédération du commerce</a>
						a mettre en place un blocus de Naboo. Le chancelier suprême
						<a href="../characters/finis_valorum.html">Valorum</a> envoie deux chevaliers Jedi, <a href="../characters/qui_gon_jinn.html">Qui-Gon Jinn</a> et son apprenti
						<a href="../characters/obi-wan_kenobi.html">Obi-Wan Kenobi</a>, pour négocier. Les négociations n'ont jamais lieu, alors que les Jedi sont sur le vaisseau de la Fédération du commerce en
						orbite autour de <a href="../planets/naboo.html">Naboo</a>, ils parviennent à échapper à une tentative d'assassinat et s'échappent sur la planète. Ils portent secours à
						<a href="../characters/padme_amidala.html">Padmé Amidala</a> alors reine de Naboo et réussissent à forcer le blocus et à fuir la planète. Cependant leur vaisseau est endommagé et ils sont
						contraints de se poser sur <a href="../planets/tatooine.html">Tatooine</a>, une planète désertique aux mains des <a href="../corporations/cartel_hutt.html">Hutts</a>.
					</p>
					<p>
						Alors que Qui-Gon est à la recherche de pièces pour réparer son vaisseau, il fait la rencontre du jeune esclave
						<a href="../characters/anakin_skywalker.html">Anakin Skywalker</a>. La Force est très présente chez ce garçon, le <a href="../corporations/jedi.html">Jedi</a> est alors persuadé d'avoir
						trouvé « l'Élu », celui qui selon une ancienne prophétie Jedi, doit détruire les <a href="../corporations/sith.html">Sith</a> et ramener l'équilibre dans la Force. Qui-Gon souhaite le
						ramener au temple Jedi sur <a href="../planets/coruscant.html">Coruscant</a>, mais pour cela il doit le libérer. Il fait donc un pari avec <a href="../characters/watto.html">Watto</a>, le
						propriétaire d'Anakin. Si le Jedi gagne, Anakin est libre et peut l'accompagner sur Coruscant, mais s'il perd, alors il doit donner son vaisseau. Heureusement, le jeune esclave gagne la
						course de module de la Bounta et permet au Jedi de remporter son pari. Alors qu'il rejoint son vaisseau pour quitter la planète désertique, Qui-Gon fait face à une menace qu'il croyait
						disparue depuis mille ans. Il combat le
						<a href="../corporations/sith.html">Sith</a>
						<a href="../characters/dark_maul.html">Dark Maul</a> et parvient à s'échapper dans son vaisseau.
					</p>
					<p>
						En 19 av. BY, après avoir mis en œuvre la grande purge Jedi, il s'autoproclame empereur devant le
						<a href="../corporations/senat_galactique.html">Sénat</a>, et transforme la
						<a href="../corporations/republique_galactique.html">République</a>
						en un <a href="../corporations/empire_galactique.html">empire</a>. Il fait sombrer le Jedi
						<a href="../characters/anakin_skywalker.html">Anakin Skywalker</a>
						dans le côté obscur de la Force et en fait Dark Vador, son nouvel élève et bras droit. Le règne de
						<a href="../characters/palpatine.html">Palpatine</a> s'achève dans l'épisode VI, à la fin duquel il est présumé mort tué par Dark Vador en l'an 4 ap. BY lors de la bataille finale contre
						la seconde étoile de la Mort. Il opère son retour dans l’épisode IX, où il est définitivement éliminé par Rey, sa petite-fille.
					</p>
					<p>
						Au temple Jedi de Coruscant, Qui-Gon présente Anakin Skywalker au conseil dont la réaction le concernant est plutôt mitigée. Le Jedi, accompagné de son apprenti et de l'enfant, retourne
						sur
						<a href="../planets/naboo.html">Naboo</a> avec la reine. Alors que la bataille ne fait que commencer, Qui-Gon et <a href="../characters/obi-wan_kenobi.html">Obi-Wan</a> croisent
						<a href="../characters/dark_maul.html">Dark Maul</a> dans le palais de la reine. Il est tué par le <a href="../corporations/sith.html">Sith</a> qui est tranché en deux par le Padawan avec
						le sabre de son maître. Avant de mourir, Qui-Gon demande à Obi-Wan d'entraîner Anakin et d'en faire un Jedi. Ses obsèques ont lieu sur Naboo en présence de nombreuses personnalités dont le
						<a href="../corporations/jedi.html">conseil Jedi</a> et le chancelier suprême <a href="../characters/palpatine.html">Palpatine</a>.
					</p>
				</div>
				<a href="nute_gunray.html" class="left">  <img src="../../images/background/icone-fleche-gauche-jaune.png" width="30px" alt="">nute gunray</a>
				<a href="boss_nass.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="">boss nass</a>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
