<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>R2-D2</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>R2-D2</h1>
						<p>
							R2-D2 était un droïde astromécano de série R2. Il participa à plusieurs conflits majeurs de la galaxie, notamment la Guerre des Clones du côté de la
							<a href="../corporations/republique_galactique.html">République Galactique</a>, puis la Guerre Civile Galactique du côté de l'Alliance Rebelle.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/characters/R2d2.webp" alt="" />
						<table>
							<tr>
								<th>Apparait dans:</th>
								<td><a href="../movies/movie1.html">La Menace Fantôme</a></td>
							</tr>
							<tr>
								<th>Première apparition:</th>
								<td><a href="../movies/movie1.html">La Menace Fantôme</a></td>
							</tr>
							<tr>
								<th>Affiliation:</th>
								<td>Maison Royale de <a href="../planets/naboo.html">Naboo</a></td>
							</tr>
							<tr>
								<th>Race:</th>
								<td>Droïde</td>
							</tr>
							<tr>
								<th>Genre:</th>
								<td>Programmation Masculine</td>
							</tr>
							<tr>
								<th>Planète d'origine:</th>
								<td>Nubia</td>
							</tr>
							<tr>
								<th>Métier:</th>
								<td>Astromécano</td>
							</tr>
							<tr>
								<th>Côté de la Force:</th>
								<td>Neutre</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="relations">
					<hr />
					<h2>Rôle dans l'histoire</h2>
					<img src="../../images/movies/poster1.jpg" alt="" />
					<p>
						R2-D2 se fait remarquer en sauvant le vaisseau de la reine
						<a href="../characters/padme_amidala.html">Padmé Amidala</a>, puis il accompagnera <a href="../characters/qui_gon_jinn.html">Qui-Gon Jinn</a> sur
						<a href="../planets/tatooine.html">Tatooine</a>. C'est là qu'il fait la connaissance d'<a href="../characters/anakin_skywalker.html">Anakin</a> mais aussi de
						<a href="../characters/c-3po.html">C-3PO</a>, son fidèle allié dans les épisodes suivants. Il accompagne également <a href="../characters/anakin_skywalker.html">Anakin</a> dans son
						vaisseau au combat contre la Fédération du commerce.
					</p>
					<p>
						Très peu avant le début de la guerre, il accompagne
						<a href="../characters/anakin_skywalker.html">Anakin</a> et <a href="../characters/padme_amidala.html">Padmé Amidala</a> sur <a href="../planets/naboo.html">Naboo</a>. Puis il les suit sur
						<a href="../planets/tatooine.html">Tatooine</a>, où <a href="../characters/c-3po.html">C-3PO</a> se joint à eux, et ils partent sur <a href="../planets/geonosis.html">Géonosis</a>. Il
						sauve la sénatrice in extremis en faisant tomber la cuve dans laquelle elle était bloquée juste avant la coulée de métal fondu qui l'aurait tuée. Il est avec
						<a href="../characters/c-3po.html">C-3PO</a> l'unique témoin du mariage entre <a href="../characters/padme_amidala.html">Padmé Amidala</a> et
						<a href="../characters/anakin_skywalker.html">Anakin</a>.
					</p>
					<p>
						Compagnon de combat d'<a href="../characters/anakin_skywalker.html">Anakin</a>
						et de
						<a href="../characters/obi-wan_kenobi.html">Obi-Wan Kenobi</a>, il les aide à libérer le chancelier <a href="../characters/palpatine.html">Palpatine</a> détenu par le
						<a href="../characters/compte_dooku.html">Comte Dooku</a> durant la bataille de <a href="../planets/coruscant.html">Coruscant</a>. Durant toute la fin de ce conflit, il est le droïde de
						vaisseau d'Anakin, même quand celui-ci devient Dark Vador. Il n'assiste cependant pas au massacre des novices sur <a href="../planets/coruscant.html">Coruscant</a> ni du vice-roi Gunray et
						du reste des membres de la CSI sur Mustafar. Après la victoire de <a href="../characters/obi-wan_kenobi.html">Obi-Wan</a> sur <a href="../characters/anakin_skywalker.html">Anakin</a>, il
						suit le <a href="../corporations/jedi.html">Jedi</a> et <a href="../characters/padme_amidala.html">Padmé</a> jusqu'à l'astéroïde Polis Massa et assiste à la naissance des jumeaux Luke et
						Leia.
					</p>
				</div>
				<a href="c-3po.html" class="left">  <img src="../../images/background/icone-fleche-gauche-jaune.png" width="30px" alt="">anakin</a>
				<a href="panaka.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="">captain panaka</a>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
