<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Shmi Skywalker</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Shmi Skywalker</h1>
						<p>
							Shmi est née en 72 av. BYa. Quelques années après sa naissance, elle et ses parents sont capturés par des pirates et vendus en esclavage. Elle est séparée de ses parents alors qu'elle
							est très jeune et ne garde ainsi qu'un vague souvenir de sa famille. Elle change plusieurs fois de propriétaires durant sa jeunesse. D'abord employée d'entretien, l'une de ses maîtresses
							lui donne ensuite une formation technique. Bien qu'elle ne connaisse aucun homme, elle tombe mystérieusement enceinte. Elle donne ensuite naissance à un enfant qu'elle prénomme
							<a href="../characters/anakin_skywalker.html">Anakin</a>. Celui-ci devient à son tour un esclave.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/characters/shmi_skywalker.webp" alt="" />
						<table>
							<tr>
								<th>Apparait dans:</th>
								<td>
									<a href="../movies/movie1.html">La Menace Fantôme</a>,
									<a href="../movies/movie2.html">L'Attaque des Clones</a>
								</td>
							</tr>
							<tr>
								<th>Première apparition:</th>
								<td><a href="../movies/movie1.html">La Menace Fantôme</a></td>
							</tr>
							<tr>
								<th>Affiliation:</th>
								<td>Famille Skywalker</td>
							</tr>
							<tr>
								<th>Race:</th>
								<td>Être humain</td>
							</tr>
							<tr>
								<th>Genre:</th>
								<td>Féminin</td>
							</tr>
							<tr>
								<th>Planète d'origine:</th>
								<td><a href="../planets/tatooine.html">Tatooine</a></td>
							</tr>
							<tr>
								<th>Métier:</th>
								<td>Esclave</td>
							</tr>
							<tr>
								<th>Côté de la Force:</th>
								<td>Neutre</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="relations">
					<hr />
					<h2>Rôle dans l'histoire</h2>
					<img src="../../images/movies/poster1.jpg" alt="" />
					<p>
						Shmi est une femme simple, aimante et douce. Elle porte des vêtements modestes faits d'étoffes grossières. Elle s'efforce d'offrir à son fils un foyer heureux malgré leur condition
						d'esclave. Elle est l'archétype de la mère, et comme toute bonne mère, elle est naturellement anxieuse lorsque son fils met sa vie en péril lors des courses de module.
					</p>
					<p>
						Sa vie est clairement centrée sur son fils. Déterminée à ce que l'avenir de celui-ci soit meilleur, elle sait que son fils à des pouvoirs spéciaux, mais elle ne réalise qu'il peut devenir
						un
						<a href="../corporations/jedi.html">Jedi</a>, qu'après l'arrivée dans sa demeure de <a href="../characters/qui_gon_jinn.html">Qui-Gon Jinn</a>. Son amour absolu pour son enfant la pousse
						alors à accepter de se séparer de lui pour qu'il accomplisse son destin : devenir un <a href="../corporations/jedi.html">Jedi</a>. Il s'agit du trait de caractère le plus remarquable du
						personnage.
					</p>
					<p>
						Elle décide d’être forte et de ne pas montrer ses émotions. Lors de la séparation définitive avec son fils, elle reste maîtresse d’elle-même mais parvient difficilement à se contenir.
						Durant les années qui suivent le départ de son fils, Shmi passe de nombreuses nuits à regarder les étoiles pour s'imaginer la vie qu'il mène loin d'elle.
					</p>
				</div>
				<a href="dark_maul.html" class="left">  <img src="../../images/background/icone-fleche-gauche-jaune.png" width="30px" alt="">dark maul</a>
				<a href="watto.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="">watto</a>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
