<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Sio Bibble</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Sio Bibble</h1>
						<p>
							Sio Bibble fut le gouverneur de
							<a href="../planets/naboo.html">Naboo</a> durant les règnes des Reines <a href="../characters/padme_amidala.html">Padmé Amidala</a>, Jamillia et Apailana. Il fut retenu prisonnier par la
							Fédération du commerce après le Blocus de <a href="../planets/naboo.html">Naboo</a>, lorsque la Reine était partie pour <a href="../planets/coruscant.html">Coruscant</a>.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/characters/sio_bibble.jpg" alt="" />
						<table>
							<tr>
								<th>Apparait dans:</th>
								<td><a href="../movies/movie1.html">La Menace Fantôme></a></td>
							</tr>
							<tr>
								<th>Première apparition:</th>
								<td><a href="../movies/movie1.html">La Menace Fantôme></a></td>
							</tr>
							<tr>
								<th>Affiliation:</th>
								<td>Maison Royal de <a href="../planets/naboo.html">Naboo</a></td>
							</tr>
							<tr>
								<th>Race:</th>
								<td>Être humain</td>
							</tr>
							<tr>
								<th>Genre:</th>
								<td>Masculin</td>
							</tr>
							<tr>
								<th>Planète d'origine:</th>
								<td><a href="../planets/naboo.html">Naboo</a></td>
							</tr>
							<tr>
								<th>Métier:</th>
								<td>Gouverneur</td>
							</tr>
							<tr>
								<th>Côté de la Force:</th>
								<td>Lumière</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="relations">
					<hr />
					<h2>Rôle dans l'histoire</h2>
					<img src="../../images/movies/poster1.jpg" alt="" />
					<p>
						Natif de <a href="../planets/naboo.html">Naboo</a>, Sio Bibble était un éminent philosophe qui devint Gouverneur de <a href="../planets/naboo.html">Naboo</a> durant le règne de la Reine
						<a href="../characters/padme_amidala.html">Padmé Amidala</a>.
					</p>
				</div>
				<a href="watto.html" class="left">  <img src="../../images/background/icone-fleche-gauche-jaune.png" width="30px" alt="">watto</a>
				<a href="c-3po.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="">c3po</a>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
