<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Tarrful</title>
	</head>

	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Tarrful</h1>
						<p>
							Un énorme général Wookie, Tarfful a aidé à défendre son
							<a href="../planets/kashyyk.html">Kashyyyk</a> natal pendant la Guerre des Clones. Un signal de détresse a amené Tarfful et ses guerriers les plus fidèles à se précipiter au secours de
							<a href="../characters/chewbacca.html">Chewbacca</a> contre les Trandoshans détestés sur les terrains de chasse de Wasskah. Plus tard, Tarfful et
							<a href="../characters/chewbacca.html">Chewbacca</a> ont combattu côte à côte avec le général Yoda sur les champs de bataille de <a href="../planets/kashyyk.html">Kashyyyk</a>.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/characters/chewbacka.jpg" alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td>
									<a href="../movies/movie1.html">La Menace fantôme</a> , <a href="../movies/movie2.html">L'Attaque des clones</a> et
									<a href="../movies/movie3.html">La Vengeance des Sith</a>
								</td>
							</tr>
							<th>Première apparition :</th>
							<td><a href="../movies/movie1.html">La Menace fantôme</a></td>
							<tr>
								<th>Affiliations :</th>
								<td>
									La
									<a href="../corporations/republique_galactique.html">République</a>
								</td>
							</tr>
							<tr>
								<th>Race :</th>
								<td>Wookie</td>
							</tr>
							<tr>
								<th>Genre :</th>
								<td>Masculin</td>
							</tr>
							<tr>
								<th>Planète d'origine :</th>
								<td><a href="../planets/kashyyk.html">Kashyyyk</a></td>
							</tr>
							<tr>
								<th>Métier :</th>
								<td>Assistante premier ministre lama su</td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Ne maitrise pas la force</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="relations">
					<hr />
					<h2>Rôle dans l'histoire</h2>
					<img src="../../images/characters/chewbacka.jpg" alt="" />
					<p>
						Tarfful et les Wookies prirent fait et cause pour la
						<a href="../corporations/republique_galactique.html">République</a>. Le conflit arriva très vite sur
						<a href="../planets/kashyyk.html"
							><a href="../planets/kashyyk.html"><a href="../planets/kashyyk.html">Kashyyyk</a></a></a
						>
						et Tarfful dut se concentrer à la défense de sa planète notamment contre les esclavagistes Trandoshans. Néanmoins, il reçut vers le milieu de la guerre un message de détresse émanant d’un
						autre Wookie, <a href="../characters/chewbacca.html">Chewbacca</a>, captif sur la planète voisine, Wasskah. Immédiatement, Tarfful réunit quelques guerriers et ils partirent au secours de
						leur ami. Ce fut donc dans la précipitation qu’il recruta les chasseurs de prime Sugi et Seripas pour les conduire à bords du Halo vers Wasskah. Sur place, le groupe arriva à point nommé
						alors que <a href="../characters/chewbacca.html">Chewbacca</a> et quelques padawans <a href="../corporations/jedi.html">Jedi</a> étaient sur le point d’être abattus. L'arrivée de Tarfful
						et de ses guerriers fit pencher la balance en leur faveur et les reptiles furent vite balayés. <a href="../characters/chewbacca.html">Chewbacca</a> et les padawans, qui servaient de proies
						aux Trandos pour d’horribles parties de chasse à l’homme sur la planète, furent donc libérés et remit au Temple <a href="../corporations/jedi.html">Jedi</a> sur Coruscant. Ceci était l’une
						des nombreuses preuves de l’amitié et du lien que les Wookies avait envers la
						<a href="../corporations/republique_galactique.html">République</a>
						et les <a href="../corporations/jedi.html">Jedi</a>.
					</p>
					<p>
						Plus tard durant la Guerre des Clones, les forces de la
						<a href="../corporations/republique_galactique.html"><a href="../corporations/jedi.html">Jedi</a></a>
						aidèrent Tarfull à défendre son monde natal contre les forces Séparatistes qui avaient décidé d’envahir
						<a href="../planets/kashyyk.html">Kashyyyk</a>. Lorsqu’il fut signalé que les forces droïdes de la Confédération des Systèmes Indépendants assiégeaient Kachirho, la totalité des Wookies de
						la région vinrent prêter main forte à Tarfull. Les forces républicaines ainsi que les guerriers Wookies s’organisèrent et agirent sous le commandement du célèbre Maître
						<a href="../corporations/jedi.html">Jedi</a>, <a href="../characters/yoda.html">Yoda</a>, qui avait, il y a longtemps, empêché la réduction en esclavage par les Trandoshans, d’une centaine
						de Wookies. Il était le candidat idéal pour mener à bien cette riposte militaire. La défense de la cité se mit en place sur les plages de Kachirho, en périphérie d’un immense arbre Wroshyr
						qui abritait le quartier général de la <a href="../corporations/republique_galactique.html"><a href="../corporations/republique_galactique.html">République</a></a
						>, où figuraient entre autres Tarfull, Yoda et à l’occasion <a href="../characters/chewbacca.html">Chewbacca</a>. La bataille fut violente, et les deux camps comptèrent de nombreuses
						pertes.
					</p>
				</div>
				<a href="chewbacca.html" class="left">  <img src="../../images/background/icone-fleche-gauche-jaune.png" width="30px" alt="">chewbacca</a>
				<a href="bail_organa.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="">bail organa</a>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
