<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Taun we</title>
</head>

<body>
    <header>
        <iframe src="../../views/header.html" frameborder="0"></iframe>
    </header>
    <main>
        <div class="container">
            <div class="presentation">
                <div class="histoire">
                    <h1>Taun we</h1>
                    <p>Taun We est une assistante du premier ministre de <a href="../planets/kamino.html">Kamino</a>. C'est elle qui présente l'Armée de
                        Clone au <a href="../corporations/jedi.html">Jedi</a> <a href="../characters/obi-wan_kenobi.html">Obi-wan Kenobi</a> dans l'Episode II.</p>
                </div>
                <div class="presentoir">
                    <img src="../../images/characters/tawn_me.jpg" alt="">
                    <table>
                        <tr>
                            <th>Apparaît dans : </th>
                            <td><a href="../movies/movie1.html">La Menace fantôme</a> , <a href="../movies/movie2.html">L'Attaque des clones</a> et <a href="../movies/movie3.html">La Vengeance des Sith</a>
                            </td>
                        </tr>
                        <th>Première apparition :</th>
                        <td><a href="../movies/movie1.html">La Menace fantôme</a> </td>
                        <tr>
                            <th>Affiliations :</th>
                            <td>Politique </td>
                        </tr>
                        <tr>
                            <th>Race :</th>
                            <td><a href="../planets/kamino.html">Kaminoene</a></td>
                        </tr>
                        <tr>
                            <th>Genre :</th>
                            <td>Féminin </td>
                        </tr>
                        <tr>
                            <th>Planète d'origine :</th>
                            <td><a href="../planets/kamino.html">Kamino</a></td>
                        </tr>
                        <tr>
                            <th>Métier :</th>
                            <td>Assistante premier ministre Lama Su </td>
                        </tr>
                        <tr>
                            <th>Côté de la force :</th>
                            <td>Ne maitrise pas la force </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="relations">
                <hr>
                <h2>Rôle dans l'histoire</h2>
                <img src="../../images/movies/poster1.jpg" alt="">
                <p>Cette assistante ministérielle coordonne le projet de la Grande Armée de la République. Ayant étudié
                    la psychologie humaine, elle veilla à la stabilité mentale des clones.</p>
                
            <a href="jango_fett.html" class="left">  <img src="../../images/background/icone-fleche-gauche-jaune.png" width="30px" alt="">jango fett</a>
            <a href="dexter_jettster.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="">dexter jesster</a>
            </div>
    </main>
    <footer>
        <iframe src="../../views/footer.html" frameborder="0"></iframe>
    </footer>
</body>

</html>