<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Watto</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Watto</h1>
						<p>
							Watto était un Toydarien originaire de Toydaria et vivant sur
							<a href="../planets/tatooine.html">Tatooine</a> au moment de l'invasion de <a href="../planets/naboo.html">Naboo</a> par la Fédération du commerce.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/characters/watto.jpg" alt="" />
						<table>
							<tr>
								<th>Apparait dans:</th>
								<td><a href="../movies/movie1.html">La Menace Fantôme</a>,<a href="../movies/movie2.html">L'Attaque des Clones</a></td>
							</tr>
							<tr>
								<th>Première apparition:</th>
								<td><a href="../movies/movie1.html">La Menace Fantôme</a></td>
							</tr>
							<tr>
								<th>Affiliation:</th>
								<td>Magasin de Watto</td>
							</tr>
							<tr>
								<th>Race:</th>
								<td>Toydarien</td>
							</tr>
							<tr>
								<th>Genre:</th>
								<td>Masculin</td>
							</tr>
							<tr>
								<th>Planète d'origine:</th>
								<td>Toydaria</td>
							</tr>
							<tr>
								<th>Métier:</th>
								<td>Commerçant - Ferrailleur - Joueur</td>
							</tr>
							<tr>
								<th>Côté de la Force:</th>
								<td>Neutre</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="relations">
					<hr />
					<h2>Rôle dans l'histoire</h2>
					<img src="../../images/movies/poster1.jpg" alt="" />
					<p>
						Avant d'arriver sur <a href="../planets/tatooine.html">Tatooine</a>, Watto était un soldat de Toydaria. Mais après avoir été blessé au combat, il parti pour
						<a href="../planets/tatooine.html">Tatooine</a>, où il apprit le métier de commerçant auprès des Jawas avant d'ouvrir son propre commerce. Du temps du blocus de
						<a href="../planets/naboo.html">Naboo</a>, il était le maître de <a href="../characters/shmi_skywalker.html">Shmi Skywalker</a> et d'<a href="../characters/anakin_skywalker.html"
							>Anakin Skywalker</a
						>, qui sont ses esclaves. Il est alors l'un des plus grands commerçants de Mos Espa. Il se dit négociant en pièces détachées, mais pour tout le monde, c'est un ferrailleur. En effet, il
						vend aussi bien des droïdes en bon état de marche que des rebuts dont même un Jawa ne voudrait pas. Son personnel est constitué de droïdes et d'esclaves.
					</p>
					<p>
						<a href="../characters/anakin_skywalker.html">Anakin Skywalker</a>
						participa à la Classique de Boonta Eve. Watto paria avec
						<a href="../characters/qui_gon_jinn.html">Qui-Gon Jinn</a> qu'il ne gagnerait pas contre le Dug Sebulba mais il perdit. Pour choisir quel esclave,
						<a href="../characters/shmi_skywalker.html">Shmi Skywalker</a> ou <a href="../characters/anakin_skywalker.html">Anakin Skywalker</a>, il va céder à
						<a href="../characters/qui_gon_jinn.html">Qui-Gon Jinn</a>, Watto n'hésite pas à utiliser un dé pipé. Mais le <a href="../corporations/jedi.html">Jedi</a> truque lui aussi la partie en
						utilisant ses pouvoirs mentaux pour qu'<a href="../characters/shmi_skywalker.html">Shmi Skywalker</a>
						soit choisi. Ensuite, il vendra
						<a href="../characters/shmi_skywalker.html">Shmi</a> à Cliegg Lars, père d'Owen Lars, lui même qui éduquera plus tard Luke Skywalker en compagnie de Beru Whitesun Lars, sa femme. Watto
						continua alors seul de tenir son commerce pendant plusieurs années.
					</p>
					<p>
						Comme tous les Toydariens, Watto pouvait voler grâce à ses deux ailes à battements rapides. Il était moins lourd qu'il n'y paraissait, les tissus spongieux de son corps boudiné étant
						remplis de gaz.
					</p>
				</div>
				<a href="shmi_skywalker.html" class="left">  <img src="../../images/background/icone-fleche-gauche-jaune.png" width="30px" alt="">shmi skywalker</a>
				<a href="sio_bibble.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="">sio Bibble</a>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
