<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Yoda</title>
	</head>

	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Yoda</h1>
						<p>
							Yoda est un personnage fictif de l'univers Star Wars. Il apparaît pour la première fois dans L'Empire contre-attaque en 1980. Il est le maître Jedi qui enseigne à Luke comment utiliser
							la Force.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/characters/yoda.webp"  width="150px"alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td><a href="../movies/movie1.html">La Menace fantôme</a></td>
							</tr>
							<tr>
								<th>Première apparition :</th>
								<td><a>L'empire contre attaque </a></td>
							</tr>
							<tr>
								<th>Affiliations :</th>
								<td>Ordre <a href="../corporations/jedi.html">Jedi</a></td>
							</tr>
							<tr>
								<th>Race :</th>
								<td>Inconnue</td>
							</tr>
							<tr>
								<th>Genre :</th>
								<td>Masculin</td>
							</tr>
							<tr>
								<th>Planète d'origine :</th>
								<td>Stewjon</td>
							</tr>
							<tr>
								<th>Métier :</th>
								<td>Maitre <a href="../corporations/jedi.html">Jedi</a></td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Lumineux</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="relations">
					<h2>Rôle dans l'histoire</h2>
					<img src="../../images/movies/poster2.jpg" alt="" />
					<p>
						On y apprend le rôle important de Yoda au Conseil Jedi. Quand des jeunes padawans commencent les premières étapes de la formation <a href="../corporations/jedi.html">Jedi</a>, ils le font
						avec les conseils avertis de Yoda. Beaucoup des plus grands <a href="../corporations/jedi.html">Jedi</a> de la
						<a href="../corporations/republique_galactique.html">République galactique</a> se sont exercés avec Yoda dans leur jeunesse au sein de groupes de formation, les clans.
					</p>
					<p>
						L'ombre du côté obscur est tombée sur la <a href="../corporations/republique_galactique.html">République galactique</a> et Yoda le sent de plus en plus. La montée en puissance du côté
						obscur crée une perturbation dans la Force assez forte pour occulter les facultés de précognition du <a href="../corporations/jedi.html">Jedi</a> dans les sujets importants. Sentant
						l'incertitude préoccupante du futur, Yoda reconnaît le besoin de méditer. Lors du décès de la mère d'<a href="../characters/anakin_skywalker.html">Anakin</a> et du massacre des Tuskens,
						Yoda ressent alors le grand bouleversement dans l'esprit du <a href="../corporations/jedi.html">Jedi</a> et comprend qu'Anakin se rapproche de plus en plus du côté obscur. Le
						<a href="../characters/compte_dooku.html">Comte Dooku</a>, un ancien padawan de Yoda mais désormais dirigeant de la CSI, construit une force militaire avec pour effectif principal les
						armées de droïdes des guildes de commerce. Quelque chose doit être fait.
					</p>
				</div>
				<a href="ki_adi_mundi.html" class="left">  <img src="../../images/background/icone-fleche-gauche-jaune.png" width="30px" alt="">ki adi mundi</a>
				<a href="dark_maul.html" class="right">  <img src="../../images/background/droite.png" width="30px" alt="">dark maul</a>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
