<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Cartel Hutt</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Cartel Hutt</h1>
						<p>
							Le Cartel hutt est dirigé par le Conseil des Anciens, ou Grand conseil hutt, au sein duquel les différents clans hutts sont représentés par les cinq chefs de famille les plus importants.
							Il est fondé à Nal Hutta vers 15 000 av. BY, à la suite d'une importante guerre civile. Le Conseil gère notamment les questions de droits, de territoires, d'héritage et calme les
							rivalités pour conserver le syndicat sur le long terme. Les clans hutts s'organisent selon un principe qu'ils nomment kajidic, pensée répandue par Budhila Hestilic Amura. Celle-ci
							considère les rivalités entre les différents clans hutts comme le meilleur moyen de faire progresser le Cartel. Toutefois, elle s'oppose aux conquêtes et guerres contre les autres
							peuples, qui affaibliraient l'organisation au lieu d'étendre son influence. Les différents clans hutts sont ainsi appelés kaijidics. Les cinq plus importants kajidics siègent au Conseil.
							Les deux familles les plus puissantes parmi ces cinq sont les Desilijic et les Besaidii.
						</p>
					</div>
					<div class="presentoir">
						
						<img src="../../images/corporations/cartelhutt.jpg" alt="" /></a>
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td><a href="../movies/movie1.html">La Menace fantôme</a>, <a href="../movies/movie2.html">L'Attaque des clones</a>, <a href="../movies/movie3.html">La Revanche des Sith</a></td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Neutre</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
