<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Le Conseil Séparatiste</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Le Conseil Séparatiste</h1>
						<p>
							Le Conseil Séparatiste (ou Conseil Exécutif Séparatiste), était une organisation gouvernementale de la
							<a href="../corporations/conseil_separatiste.html">Confédération des Systèmes Indépendants (CSI)</a>. Formé durant les derniers jours de la Crise Séparatiste, le Conseil était composé
							des représentants des entreprises et organisations politiques soutenant la cause séparatiste, à savoir, l'Alliance des Corporations, le Cartel des Hypercommunications, les Chantiers de
							Pammant, le Clan Bancaire Intergalactique, le Corps des Ingénieurs Volontaires Libres de Dac, la <a href="../corporations/federation_du_commerce.html">Fédération du commerce</a>, la
							Guilde du Commerce, la Ligue d'Isolation Quarren et le Techno-Syndicat. Les responsabilités des conseillers étaient variées et allaient de la gestion d'opérations militaires à des
							missions diplomatiques. Alors que la Guerre des Clones tournait à l'avantage de la <a href="../corporations/empire_galactique.html">République Galactique</a>, le
							<a href="../corporations/conseil_separatiste.html">Conseil Exécutif Séparatiste</a> se réfugia sur <a href="../planets/mustafar.html">Mustafar</a> où il fut massacré par
							<a href="../characters/anakin_skywalker.html">Dark Vador</a>. La mort des conseillers séparatistes marqua la fin de la guerre et de la Confédération des Systèmes Indépendants.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/corporations/conseil_separatiste.jpg" alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td><a href="../movies/movie2.html">L'Attaque des clones</a> ,<a href="../movies/movie3.html"></a> La Revanche des Sith</td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Neutre</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
