<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>L'Empire galactique</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>L'Empire galactique</h1>
						<p>
							L'Empire galactique (en version originale anglaise : Galactic Empire), simplement désigné comme l'Empire, est un régime politique fictif apparaissant dans la saga cinématographique Star
							Wars et qui domine la galaxie pendant 23 ans, commençant 19 ans avant la bataille de Yavin (considérée comme le principal point de repère temporel de l'univers) et se terminant 4 ans
							après cette dernière lors de la bataille d'Endor. Son règne débute dès la chute de la <a href="../../views/corporations/republique_galactique.html">République</a> galactique. Son seul
							dirigeant est l'empereur <a href="../../views/characters/palpatine.html">Palpatine</a>, également connu sous le nom du seigneur Sith Dark Sidious, ayant conduit à sa création en tant que
							Chancelier suprême de la <a href="../../views/corporations/republique_galactique.html">République</a>. L'Empire, dont la domination est vivement contestée, est suivi 30 ans après sa
							destruction par une organisation partageant les mêmes points de vue et les mêmes intérêts et dénommée Premier Ordre.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/corporations/empire_galactique.jpg" alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td><a href="../movies/movie3.html">La Revanche des Sith</a> , Rogue One, Un nouvel espoir, L'Empire contre-attaque, Le Retour du Jedi</td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Obscur</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
