<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>La Fédération du commerce</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>La Fédération du commerce</h1>
						<p>
							La Fédération du commerce était l'une des plus grandes entreprises de la galaxie sous la <a href="../corporations/republique_galactique.html">République Galactique</a> . La Fédération du
							commerce fut fondée par les Neimoidiens sur Cato Neimoidia. Principalement basée sur les planètes des Colonies, la Fédération était devenue tellement importante qu'elle reçut un siège au
							<a href="../corporations/senat_galactique.html">Sénat Galactique</a>. Son dernier représentant fut Lott Dod. Elle était dirigée par un Vice-Roi tel que
							<a href="../characters/nute_gunray.html">Nute Gunray</a>. En réponse à la taxation des routes commerciales, la Fédération instaura un blocus sur la paisible planète
							<a href="../planets/naboo.html">Naboo</a>. En réalité, il s'agissait d'une manœuvre du Seigneur Sith <a href="../characters/palpatine.html">Dark Sidious</a>, alors Sénateur de
							<a href="../planets/naboo.html">Naboo</a>, afin d'être élu Chancelier Suprême. Une dizaine d'années plus tard, la
							<a href="../corporations/federation_du_commerce.html">Fédération du commerce</a> rejoignit la
							<a href="../corporations/conseil_separatiste.html">Confédération des Systèmes Indépendants</a>, bien qu'elle conservât son siège au Sénat. Ses dirigeants furent massacrés en 19 av.BY sur
							<a href="../planets/mustafar.html">Mustafar</a>, comme tous les autres leaders séparatistes. Suite à l'avènement de l'<a href="../corporations/empire_galactique.html"
								>Empire Galactique</a
							>, la Fédération fut nationalisée et toutes ses richesses furent confiées à Arsin Crassus.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/corporations/federation_du_commerce.jpg alt=" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td><a href="../movies/movie1.html">La Menace fantôme</a>, <a href="../movies/movie2.html">L'Attaque des clones</a>, <a href="../movies/movie3.html">La Revanche des Sith</a></td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Obscur</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
