<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Le Haut Conseil Gungan</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Le Haut Conseil Gungan</h1>
						<p>
							Le Haut Conseil Gungan, également appelé le Conseil des Reps, était le corps gouvernant du peuple Gungan sur la <a href="../planets/naboo.html">planète Naboo</a>. Il se trouvait dans la
							Salle du Conseil Gungan où était installé le <a href="../characters/boss_nass.html">Boss Rugor Nass</a> du temps de l'Invasion de <a href="../planets/naboo.html">Naboo</a> et le Boss
							Lyonie durant la Guerre des Clones. Les membres du conseil étaient choisis parmi une multitude de candidats, certains étaient choisis par le Boss lui-même. Les élus débattaient ensemble
							de questions importantes concernant la gestion de la capitale, la cité sous-marine d'Otoh Gunga, et de l'organisation de la société. L'assemblée résidait dans la Haute Tour, une bulle
							aménagée en salle de conférence et protégée par des soldats de la Grande Armée Gungan.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/corporations/haut_conseil_gungan.jpg" alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td><a href="../movies/movie1.html">La Menace fantôme</a></td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Lumineux</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
