<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="../../css/planete&corpo.css" />
		<title>Les corporations</title>
	</head>

	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<h1 class="title">Les corporations</h1>
				<div class="list">
					<div class="card">
						<a href="cartel_hutt.html">
							<h2>Le cartel hutt</h2>
							<img src="../../images/corporations/cartelhutt.jpg" alt="" />
						</a>
					</div>

					<div class="card">
						<a href="../../views/corporations/conseil_separatiste.html">
							<h2>Le conseil séparatiste</h2>
							<img src="../../images/corporations/conseil_separatiste.jpg" alt=""
						/></a>
					</div>

					<div class="card">
						<a href="../../views/corporations/empire_galactique.html">
							<h2>L'empire galactique</h2>
							<img src="../../images/corporations/empire_galactique.jpg" alt="" />
						</a>
					</div>

					<div class="card">
						<a href="../../views/corporations/federation_du_commerce.html">
							<h2>La fédération du commerce</h2>
							<img src="../../images/corporations/federation_du_commerce.jpg" alt=""
						/></a>
					</div>

					<div class="card">
						<a href="../../views/corporations/haut_conseil_gungan.html">
							<h2>Le haut conseil Gungan</h2>
							<img src="../../images/corporations/haut_conseil_gungan.jpg" alt="" />
						</a>
					</div>

					<div class="card">
						<a href="../../views/corporations/jedi.html">
							<h2>L'ordre jedi</h2>
							<img class="bg-white" src="../../images/corporations/jedi.jpg" alt="" />
						</a>
					</div>

					<div class="card">
						<a href="../../views/corporations/republique_galactique.html">
							<h2>République galactique</h2>
							<img src="../../images/corporations/republique_galactique.jpg" alt="" />
						</a>
					</div>

					<div class="card">
						<a href="../../views/corporations/senat_galactique.html">
							<h2>Senat galactique</h2>
							<img src="../../images/corporations/senat_galactique.jpg" alt="" />
						</a>
					</div>

					<div class="card">
						<a href="../../views/corporations/sith.html">
							<h2>L’ordre Sith</h2>
							<img src="../../images/corporations/siths.jpg" alt="" />
						</a>
					</div>
				</div>
			</div>
		</main>

		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
