<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>La République galactique</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>La République galactique</h1>
						<p>
							La République galactique (Galactic Republic en version originale), ou simplement désignée comme la République est un régime politique fictif apparaissant dans le monde fantastique de
							Star Wars prédominant la galaxie durant un millénaire environ, s'achevant 19 ans avant la bataille de Yavin (considérée comme le principal point de repère temporel de l'univers), date à
							laquelle son Chancelier Suprême proclame <a href="../corporations/empire_galactique.html">l'Empire galactique</a> . Après la disparition de ce dernier, un nouveau régime républicain voit
							le jour, la Nouvelle République.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/corporations/republique_galactique.jpg" alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td><a href="../movies/movie1.html">La Menace fantôme</a>, <a href="../movies/movie2.html">L'Attaque des clones</a>, <a href="../movies/movie3.html">La Revanche des Sith</a></td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Lumineux</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
