<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Le Sénat galactique</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Le Sénat galactique</h1>
						<p>
							Le Sénat Galactique avait existé pendant des centaines de générations, devenant l'une des institutions fondatrices de la Constitution Galactique qui avait établi la
							<a href="../corporations/republique_galactique.html">République Galactique</a>. Avec ses immenses chambres, le Sénat réunissait des milliers de sénateurs venant de tous les mondes et
							ayant ratifié la constitution républicaine. Ceux-là se réunissaient et débattaient des solutions à apporter à des problèmes donnés. Quelques sénateurs représentaient un seul monde, et
							d'autres sénateurs représentaient des secteurs, c'est-à-dire un rassemblement de mondes. Chacun venait alimenter les débats inhérents à l'organisation de la
							<a href="../corporations/republique_galactique.html">République</a> et pouvait, si besoin, plaider sa cause auprès de l'ensemble du congrès.
						</p>
					</div>
					<div class="presentoir">
						<img src="../..images/corporations/senat_galactique.jpg/" alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td><a href="../movies/movie1.html">La Menace fantôme</a>, <a href="../movies/movie2.html">L'Attaque des clones</a>, <a href="../movies/movie3.html">La Revanche des Sith</a></td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Lumineux</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
