<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/styles.css" />
		<title>Les Sith</title>
	</head>
	<body>
		<header>
			<iframe src="../../views/header.html" frameborder="0"></iframe>
		</header>
		<main>
			<div class="container">
				<div class="presentation">
					<div class="histoire">
						<h1>Les Sith</h1>
						<p>
							L'Ordre Sith, dont les membres étaient communément appelés les Sith, était une ancienne communauté d'utilisateurs du côté obscur de la Force guidés par leur haine et leur colère et dont
							le seul but était d'asseoir leur suprématie sur la galaxie. Fondé par un Jedi renégat plus de 5000 ans avant la bataille de Yavin, l'Ordre Sith s'étendit alors rapidement dans la galaxie
							et un conflit perpétuel s'installa alors entre les Sith et l'Ordre Jedi dont le but était de maintenir la paix et la justice au sein de l'Ancienne République.
						</p>
					</div>
					<div class="presentoir">
						<img src="../../images/corporations/siths.jpg" alt="" />
						<table>
							<tr>
								<th>Apparaît dans :</th>
								<td><a href="../movies/movie1.html">La Menace fantôme</a>, <a href="../movies/movie2.html">L'Attaque des clones</a>, <a href="../movies/movie3.html">La Revanche des Sith</a></td>
							</tr>
							<tr>
								<th>Côté de la force :</th>
								<td>Obscur</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<iframe src="../../views/footer.html" frameborder="0"></iframe>
		</footer>
	</body>
</html>
