<!DOCTYPE html>
<html lang="fr">
	<head>
		<link rel="stylesheet" href="../css/styles.css" />
		<link rel="stylesheet" href="../css/footer.css" />
	</head>
	<body>
		<footer>
			<div class="pied">
				<a href="index.html" target="_parent">Films</a>
				<a href="characters/index.html" target="_parent">Personnages</a>
				<a href="planets/index.html" target="_parent">Planètes</a>
				<a href="corporations/index.html" target="_parent">Corporations</a>
				<a href="forms/contact.html" target="_parent">Contact</a>
			</div>
			<div class="credit">
				<p>@ 2022 Fatal MEVY - Created with passion</p>
			</div>
		</footer>
	</body>
</html>
